Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(discovery): common-scenario compose examples + http_action labels (#379)
  README.md
  docs/wiki/docker-discovery.md
Due: none

docs(discovery): correct 'one click' claim to account for automatic import
  docs/wiki/docker-discovery.md
Due: none

docs: audit and update all docs to reflect 3.2.0
  docker-compose.yml
  docs/wiki/api.md
  docs/wiki/apps.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-examples.md
  docs/wiki/oidc-authentik.md
  docs/wiki/oidc-google.md
  docs/wiki/oidc-keycloak.md
  docs/wiki/security.md
  docs/wiki/troubleshooting.md
Due: none

docs: address CodeRabbit review on the 3.2.0 doc audit
  docs/wiki/api.md
  docs/wiki/docker-discovery.md
  docs/wiki/security.md
  docs/wiki/troubleshooting.md
Due: none

docs: audit and update all docs to reflect 3.2.0 (#380)
  docker-compose.yml
  docs/wiki/api.md
  docs/wiki/apps.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-examples.md
  docs/wiki/oidc-authentik.md
  docs/wiki/oidc-google.md
  docs/wiki/oidc-keycloak.md
  docs/wiki/security.md
  docs/wiki/troubleshooting.md
Due: none

proxy: regression-guard the JS rewriter against string-literal false matches
  internal/handlers/reverse_proxy_bundle_test.go
  internal/handlers/reverse_proxy_test.go
Due: none

gateway: add backend_skip_tls_verify for self-signed HTTPS backends
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  internal/config/config.go
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/suggest.go
  internal/proxy/apply_test.go
  internal/proxy/gateway_listen_test.go
  internal/proxy/proxy.go
  internal/proxy/translate.go
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/types.ts
Due: backend, frontend

discovery: propagate gateway-only label changes in auto-import update/sync
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

review: fix stale limitation comment, harden skip-verify gate
  internal/discovery/poller.go
  internal/proxy/proxy.go
Due: backend

docs: document backend_skip_tls_verify in the configuration reference
  docs/wiki/configuration.md
Due: none

docs: gateway-examples Proxmox recipe uses backend_skip_tls_verify
  docs/wiki/gateway-examples.md
Due: none

review: address CodeRabbit on #381
  docs/wiki/docker-discovery.md
  internal/discovery/poller_test.go
Due: none

feat(gateway): propagate gateway-only labels, self-signed backend support, proxy rewriter audit (#381)
  CHANGELOG.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-examples.md
  internal/config/config.go
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/discovery/suggest.go
  internal/handlers/reverse_proxy_bundle_test.go
  internal/handlers/reverse_proxy_test.go
  internal/proxy/apply_test.go
  internal/proxy/gateway_listen_test.go
  internal/proxy/proxy.go
  internal/proxy/translate.go
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/types.ts
Due: backend, frontend

docs: changelog for 3.2.1 (gateway label sync + self-signed backends)
  CHANGELOG.md
Due: none

discovery: don't delete auto-imported apps when a scan fails
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

auth: revoke a deleted user's sessions
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend

http_action: stop following redirects (SSRF)
  internal/handlers/api.go
  internal/handlers/http_action_test.go
Due: backend

config: fix data race in ExportConfig
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

config: remove temp file when the final Save rename fails
  internal/config/config.go
  internal/config/config_test.go
  internal/server/server_test.go
Due: backend

proxy: forward oversized responses in full instead of truncating
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

discovery: add removal hysteresis so a transient empty scan can't wipe apps
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

discovery: guard Poller.stop under the same mutex as done
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

discovery: dedupe daemon-down warnings + log a swallowed key parse error
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

discovery: dedupe colliding app names in auto-import
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

server: refresh the health monitor on every config save
  internal/server/server.go
  internal/server/server_test.go
Due: backend

discovery: apply runtime config changes to the shared Service in place
  internal/discovery/discovery.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/handlers/discovery.go
Due: backend

review: harden Service reconfigure + name dedup (batch B review)
  internal/discovery/discovery.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

proxy: forward the signed-in user's identity in custom headers (#388)
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/messages/en.json
Due: backend

docs: changelog for 3.2.2 (reliability + security hotfix)
  CHANGELOG.md
Due: none

gateway: strip framing headers so strip_frame_blockers actually works
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
Due: backend

proxy: pass through non-gzip Content-Encoding untouched
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

gateway: scope strip_frame_blockers CSP to the dashboard origin
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
Due: backend

proxy: skip inline-script rewriting + roll the upload read deadline
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
Due: backend

lifecycle: enforce per-app access on container start/stop/restart
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
Due: backend

review: classify Content-Encoding by whole token, not substring (batch C review)
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

auth: hash the API key with SHA-256, not bcrypt (unauth CPU DoS)
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend

auth: carry builtin user groups on the session for gateway group gates
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend

api: validate app on create/update before persisting
  internal/config/config.go
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

icons: sniff uploaded bytes instead of trusting the multipart Content-Type
  internal/handlers/icons.go
  internal/handlers/icons_test.go
Due: backend

server: stop treating multipart/form-data as a CSRF-safe content type
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
