Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

List the remaining 3.4.2 dependency bumps in the changelog
  CHANGELOG.md
Due: none

Keep proxied frame URLs clean after load and fix the Navigation API redirect
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
  web/src/lib/frameRescue.test.ts
  web/src/lib/frameRescue.ts
  web/src/main.ts
Due: backend, frontend

Keep proxied frame URLs clean after load and fix the Navigation API redirect (#460)
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
  web/src/lib/frameRescue.test.ts
  web/src/lib/frameRescue.ts
  web/src/main.ts
Due: backend, frontend

Add 3.4.3 changelog entry
  CHANGELOG.md
Due: none

Upload the SBOM once in the release workflow
  .github/workflows/release.yml
Due: none

Update OpenTelemetry modules to the 1.45 and 0.21 trains
  go.mod
  go.sum
Due: none

Upload the SBOM once in the release workflow (#466)
  .github/workflows/release.yml
Due: none

Update OpenTelemetry modules to the 1.45 and 0.21 trains (#467)
  go.mod
  go.sum
Due: none

Accept SVG uploads that open with a comment or an SVG DOCTYPE
  internal/handlers/icons.go
  internal/handlers/icons_test.go
Due: backend

Accept SVG uploads that open with a comment or an SVG DOCTYPE (#468)
  internal/handlers/icons.go
  internal/handlers/icons_test.go
Due: backend

Route requests made from Web Workers in proxied apps
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/worker_prelude.go
  internal/handlers/worker_prelude_test.go
Due: backend

Build the injected document with bytes.Join
  internal/handlers/reverse_proxy.go
Due: backend

Detect use strict from the directive prologue in both prelude sites
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/worker_prelude.go
  internal/handlers/worker_prelude_test.go
Due: backend

Route requests made from Web Workers in proxied apps (#481)
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/worker_prelude.go
  internal/handlers/worker_prelude_test.go
Due: backend

Keep a detached app detached when Settings is saved
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  internal/handlers/api.go
  internal/handlers/api_test.go
  web/src/components/Settings.svelte
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/lib/dockerTracking.test.ts
  web/src/lib/dockerTracking.ts
Due: backend, frontend

Refresh the dialog's tracking from the server instead of guessing
  web/src/components/Settings.svelte
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/lib/dockerTracking.test.ts
  web/src/lib/dockerTracking.ts
Due: frontend

Keep a detached app detached when Settings is saved (#482)
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  internal/handlers/api.go
  internal/handlers/api_test.go
  web/src/components/Settings.svelte
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/lib/dockerTracking.test.ts
  web/src/lib/dockerTracking.ts
Due: backend, frontend

Recognise the muximux.app.url label
  internal/discovery/labels.go
  internal/discovery/labels_test.go
Due: backend

Add URL helpers for fixed app URLs, label paths and relative health
  internal/discovery/url.go
  internal/discovery/url_test.go
Due: backend

Build suggestions with fixed URLs, label paths and relative health
  internal/discovery/suggest.go
  internal/discovery/suggest_test.go
Due: backend

Keep the label path out of gateway backends and drop stale port notes
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/suggest.go
  internal/discovery/suggest_test.go
  web/src/components/settings/DiscoverModal.svelte
  web/src/lib/types.ts
Due: backend, frontend

Create auto-import gateway sites only on an explicit label
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
Due: backend

Keep operator settings when auto-import updates an app
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Keep fixed app URLs and refresh their health address instead
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Use the container-name catalog fallback when refreshing tracked apps
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Document the muximux.app.url label and the discovery fixes
  CHANGELOG.md
  README.md
  docs/wiki/docker-discovery.md
  docs/wiki/health-monitoring.md
Due: none

Address final review: refresh relative health on tracked apps, document upgrade effects
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  internal/config/docker_autodetach_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/discovery/suggest.go
  internal/discovery/url.go
  internal/discovery/url_test.go
  web/src/components/AppForm.svelte
  web/src/lib/types.ts
Due: backend, frontend

Add the muximux.app.url Docker label (#491)
  CHANGELOG.md
  README.md
  docs/wiki/docker-discovery.md
  docs/wiki/health-monitoring.md
  internal/config/docker_autodetach_test.go
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/discovery/suggest.go
  internal/discovery/suggest_test.go
  internal/discovery/url.go
  internal/discovery/url_test.go
  web/src/components/AppForm.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/lib/types.ts
Due: backend, frontend

Add OIDC logout and login-page options to the config
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Keep the Validate doc comment intact and order OIDC URL checks
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Keep ${VAR} references when the config is saved
  internal/config/config.go
  internal/config/envrefs.go
  internal/config/envrefs_test.go
Due: backend

Keep env references through flow collections, named items and typed fields
  internal/config/config.go
  internal/config/envrefs.go
  internal/config/envrefs_test.go
Due: backend

Build the provider sign-out URL for OIDC sessions
  internal/auth/oidc.go
  internal/auth/oidc_logout.go
  internal/auth/oidc_logout_test.go
  internal/auth/oidc_test.go
Due: backend

Add SessionStore.DeleteMatching
  internal/auth/session.go
  internal/auth/session_test.go
Due: backend

Allow the OIDC provider to be replaced at runtime
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
Due: backend

Support OIDC back-channel logout
  internal/auth/oidc.go
  internal/auth/oidc_logout.go
  internal/auth/oidc_logout_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Harden back-channel logout and test it with signed tokens
  internal/auth/oidc_logout.go
  internal/auth/oidc_logout_test.go
  internal/handlers/auth_test.go
  internal/server/server.go
Due: backend

Sign out at the identity provider and honour local-login settings
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend
