Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

discovery: add InspectContainerState for narrow state fetch
  internal/discovery/client.go
  internal/discovery/client_test.go
Due: backend

discovery: probe socket writability at Service startup
  internal/discovery/client.go
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: backend

discovery: poller inspects state and emits diff broadcasts
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

handlers: add dockerAction helper and DockerStart
  internal/auth/middleware.go
  internal/discovery/discovery.go
  internal/handlers/api.go
  internal/handlers/common.go
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
Due: backend

handlers: add DockerStop with ten-second graceful timeout
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
Due: backend

handlers: add DockerRestart
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
Due: backend

handlers: cover dockerAction permission denial paths
  internal/handlers/docker_lifecycle_test.go
Due: none

handlers: cover dockerAction capability denial paths
  internal/handlers/docker_lifecycle_test.go
Due: none

handlers: cover dockerAction daemon error mapping paths
  internal/handlers/docker_lifecycle_test.go
Due: none

server: register Docker lifecycle routes under app-docker prefix
  internal/discovery/discovery.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

discovery: surface socket_writable plus lifecycle flag and state-map endpoint
  internal/discovery/discovery.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

types: add DockerState type and lifecycle fields on user info
  web/src/lib/authStore.ts
  web/src/lib/types.test.ts
  web/src/lib/types.ts
Due: frontend

dockerStateStore: writable Map with initial fetch and delta apply
  web/src/lib/dockerStateStore.test.ts
  web/src/lib/dockerStateStore.ts
Due: frontend

websocketStore: dispatch docker_state_changed to dockerStateStore
  web/src/lib/websocketStore.test.ts
  web/src/lib/websocketStore.ts
Due: frontend

api: add dockerStart, dockerStop, dockerRestart, getDockerState
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: frontend

splash: add DockerLogo inline SVG component
  web/src/components/DockerLogo.svelte
  web/src/components/DockerLogo.test.ts
Due: frontend

splash: add DockerStatePill with conditional render
  web/messages/en.json
  web/src/components/DockerStatePill.svelte
  web/src/components/DockerStatePill.test.ts
Due: frontend

splash: add DockerActionsPopover with state-aware buttons
  web/messages/en.json
  web/src/components/DockerActionsPopover.svelte
  web/src/components/DockerActionsPopover.test.ts
Due: frontend

splash: add ConfirmDockerActionModal full-screen modal
  web/messages/en.json
  web/src/components/ConfirmDockerActionModal.svelte
  web/src/components/ConfirmDockerActionModal.test.ts
Due: frontend

splash: wire DockerLogo, pill, popover, and modal on app cards
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

navigation: conditional Docker badge per health_badge_placement
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/lib/types.ts
Due: frontend

settings: add lifecycle subsection to DiscoveryTab
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
Due: frontend

i18n: seed Docker lifecycle keys with English fallback in 35 locales
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

docs: container lifecycle controls in wiki, compose, and CHANGELOG
  CHANGELOG.md
  docker-compose.yml
  docs/wiki/docker-discovery.md
Due: none

fix(discovery): resolve stopped tracked containers as exited, not missing
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

feat(web): hover-revealed container controls with a quiet status dot
  web/src/components/DockerActionsPopover.svelte
  web/src/components/DockerActionsPopover.test.ts
  web/src/components/DockerStatePill.svelte
  web/src/components/DockerStatePill.test.ts
  web/src/components/Navigation.test.ts
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

fix(web): send Docker badge placement to the frontend
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

fix(docker): run lifecycle actions on a context detached from the request
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
Due: backend

fix(web): honor health_badge_placement: off on the overview
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

fix(web): surface Docker lifecycle action and state-fetch failures
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/dockerStateStore.ts
  web/src/lib/types.ts
Due: frontend

refactor(docker): harden lifecycle gate, validation, broadcast, and types
  internal/config/config.go
  internal/discovery/client.go
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/discovery/docker_state.go
  internal/discovery/poller.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/auth.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
  internal/server/server.go
Due: backend

fix(web): decide lifecycle action success by HTTP status, not body fields
  web/src/components/Splash.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: frontend

ignore .superpowers/ brainstorm session artifacts
  .gitignore
Due: none

docs: make the :rw lifecycle opt-in clearer and fix the lifecycle UX description
  docker-compose.yml
  docs/wiki/docker-discovery.md
Due: none

docs: cut the 3.1.1 changelog and correct the lifecycle version
  CHANGELOG.md
  docker-compose.yml
Due: none

i18n: localize all new 3.1.1 strings across every locale; review Russian
  CHANGELOG.md
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

nav: start collapsed on mount when auto_hide is enabled
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
Due: frontend

docs: document auto-hide-starts-collapsed behavior (#347)
  CHANGELOG.md
  docs/wiki/navigation.md
Due: none

docs: correct gateway routing diagram and use 192.168.x examples
  config.example.yaml
  docs/wiki/api.md
  docs/wiki/apps.md
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-auth.md
  docs/wiki/tls-and-gateway.md
Due: none

docs: correctness review fixes across the wiki
  docs/wiki/api.md
  docs/wiki/authentication.md
  docs/wiki/deployment.md
  docs/wiki/forward-auth-authelia.md
  docs/wiki/gateway-examples.md
  docs/wiki/health-monitoring.md
  docs/wiki/keyboard-shortcuts.md
  docs/wiki/reverse-proxy.md
  docs/wiki/security.md
  docs/wiki/tls-and-gateway.md
  docs/wiki/troubleshooting.md
Due: none

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
