Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Run CI on Node 26 to match the container build
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
Due: none

Run CI on Node 26 to match the container build (#419)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
Due: none

Assert Skeleton's declared inline style, not the computed one
  web/src/components/Skeleton.test.ts
Due: frontend

Bump both CodeQL action pins together and group them
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

Bump both CodeQL action pins together and group them (#424)
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

Fix the broken Star History chart
  README.md
Due: none

Recognise custom and URL icons for the overview button
  CHANGELOG.md
  web/src/components/Navigation.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/lib/iconUrl.test.ts
  web/src/lib/iconUrl.ts
Due: frontend

Build on Go 1.26.6 and let govulncheck gate the workflow
  .github/workflows/security.yml
  go.mod
Due: none

Recognise custom group icons and label them in the pickers
  web/src/components/AppForm.svelte
  web/src/components/Navigation.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/lib/iconUrl.test.ts
  web/src/lib/iconUrl.ts
Due: frontend

Build on Go 1.26.6 and let govulncheck gate the workflow (#446)
  .github/workflows/security.yml
  go.mod
Due: none

Recognise custom and URL icons for the overview button (#445)
  CHANGELOG.md
  web/src/components/AppForm.svelte
  web/src/components/Navigation.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/lib/iconUrl.test.ts
  web/src/lib/iconUrl.ts
Due: frontend

Make the web manifest relative so the PWA installs under a base path
  web/public/manifest.json
  web/src/lib/manifest.test.ts
Due: frontend

Make the web manifest relative so the PWA installs under a base path (#447)
  web/public/manifest.json
  web/src/lib/manifest.test.ts
Due: frontend

Send X-Forwarded-For once, and not at all when forwarding is off
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Send X-Forwarded-For once, and not at all when forwarding is off (#450)
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Build and test on Go 1.27, tracking the latest patch release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  go.mod
Due: none

Bump govulncheck to v1.7.0 for Go 1.27
  .github/workflows/security.yml
Due: none

Cover server.New through the assembled handler chain
  internal/server/new_test.go
Due: none

Build and test on Go 1.27, and cover server.New (#448)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  go.mod
  internal/server/new_test.go
Due: none

Add 3.4.0 changelog entry
  CHANGELOG.md
Due: none

Rewrite import maps and drop Mealie's embedding hint in the proxy
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Join import-map fragments without a summed-length allocation
  internal/handlers/reverse_proxy.go
Due: backend

Rewrite import maps and drop Mealie's embedding hint in the proxy (#451)
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Update dependencies (go-oidc 3.21, x/crypto 0.56)
  CHANGELOG.md
  go.mod
  go.sum
  web/package-lock.json
Due: none

Project single-app reads for the caller's role
  CHANGELOG.md
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

Project single-app reads for the caller's role (#452)
  CHANGELOG.md
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

Add 3.4.1 changelog entry
  CHANGELOG.md
Due: none

Reject base paths that would turn the trailing-slash redirect into an open redirect
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Reject base paths that would turn the trailing-slash redirect into an open redirect (#453)
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Note the base_path hardening in the 3.4.1 changelog
  CHANGELOG.md
Due: none

Document pinned apps, forwarded_headers, base_path rules, and role-projected app reads
  README.md
  docs/wiki/api.md
  docs/wiki/configuration.md
  docs/wiki/security.md
Due: none

Refresh npm lock and bump QEMU and CodeQL action pins ahead of 3.4.1
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  web/package-lock.json
Due: none

Update vitest and its V8 coverage provider to 5.0.0
  web/package-lock.json
  web/package.json
Due: none

Generate a PKCE code_verifier of RFC 7636 length
  CHANGELOG.md
  internal/auth/oidc.go
  internal/auth/oidc_test.go
Due: backend

Take the PKCE verifier's entropy source as a parameter
  internal/auth/oidc.go
  internal/auth/oidc_test.go
Due: backend

Generate a PKCE code_verifier of RFC 7636 length (#457)
  CHANGELOG.md
  internal/auth/oidc.go
  internal/auth/oidc_test.go
Due: backend

Add 3.4.2 changelog entry
  CHANGELOG.md
Due: none

Update dependencies ahead of 3.4.2 (x/crypto 0.57, x/term 0.46, brotli 1.2.4)
  go.mod
  go.sum
  web/package-lock.json
Due: none
