Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Portal the health tooltip and describe the focused card
  web/src/components/HealthIndicator.svelte
  web/src/components/HealthIndicator.test.ts
Due: frontend

Keep focus outlines visible in clipped nav lists and on invalid fields
  web/src/app.css
  web/src/components/AppForm.svelte
  web/src/components/AppForm.test.ts
  web/src/components/CommandPalette.test.ts
  web/src/components/LocaleSelect.svelte
  web/src/components/Login.svelte
  web/src/components/Logs.svelte
  web/src/components/Navigation.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Keep the health tooltip open while the pointer moves onto it
  web/src/components/HealthIndicator.svelte
  web/src/components/HealthIndicator.test.ts
Due: frontend

Label every form control and icon-only button
  web/messages/en.json
  web/src/App.svelte
  web/src/components/AppForm.svelte
  web/src/components/CommandPalette.svelte
  web/src/components/HeadersEditor.svelte
  web/src/components/HeadersEditor.test.ts
  web/src/components/IconBrowser.svelte
  web/src/components/KeybindingsEditor.svelte
  web/src/components/Logs.svelte
  web/src/components/Logs.test.ts
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/ThemeTab.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Name per-row actions after their item
  web/messages/en.json
  web/src/components/AppForm.svelte
  web/src/components/HeadersEditor.svelte
  web/src/components/IconBrowser.svelte
  web/src/components/KeybindingsEditor.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/AppsTab.test.ts
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
Due: frontend

Name per-row inputs after their item
  web/messages/en.json
  web/src/components/AppForm.svelte
  web/src/components/HeadersEditor.svelte
  web/src/components/HeadersEditor.test.ts
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/components/settings/DiscoverModal.svelte
Due: frontend

Translate the accessible names
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

Compute the on-accent text colour for saved themes; make the a11y guard strict
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/a11yStatic.test.ts
Due: frontend

Document the accessibility groundwork and theme tokens
  CHANGELOG.md
  docs/wiki/themes.md
  web/public/themes/README.md
Due: none

Add the accessibility screenshot harness
  web/scripts/a11y-shots.mjs
Due: none

Drop the unused theme helper from the screenshot harness
  web/scripts/a11y-shots.mjs
Due: none

Quarantine invalid auto-imported entries at load instead of failing
  cmd/muximux/main.go
  internal/config/config.go
  internal/config/overrides.go
  internal/config/quarantine.go
  internal/config/quarantine_test.go
Due: backend

Inset the focus outline only in clipped nav containers
  web/src/app.css
  web/src/components/AppForm.test.ts
  web/src/components/Navigation.svelte
  web/src/components/Settings.test.ts
Due: frontend

Name the health dot by status inside nav items and cards
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/en.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
  web/src/components/HealthIndicator.svelte
  web/src/components/HealthIndicator.test.ts
  web/src/components/Navigation.test.ts
Due: frontend

Use the danger button style for the theme delete buttons
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
Due: frontend

Add discovery.docker.require_explicit_enable with an env override
  internal/config/autoimport_env.go
  internal/config/autoimport_env_test.go
  internal/config/config.go
  internal/config/overrides.go
  internal/config/overrides_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
Due: backend

Check accent text on the accent-muted badge tint
  web/src/lib/themeContrast.test.ts
  web/src/test/contrastBaseline.json
Due: frontend

Pick pure black or white for text on the accent and mix in real oklab
  docs/wiki/themes.md
  web/public/themes/README.md
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/contrast.test.ts
  web/src/lib/contrast.ts
Due: frontend

Give no-op hovers a real cue and guard against them
  web/src/components/AppForm.svelte
  web/src/components/HeadersEditor.svelte
  web/src/components/IconBrowser.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/a11yStatic.test.ts
Due: frontend

Join class lines left split by the focus-utility removal
  web/src/components/IconBrowser.svelte
  web/src/components/Login.svelte
  web/src/components/OnboardingWizard.svelte
Due: frontend

Test the semantic token cascade instead of a merged map
  web/src/lib/semanticTokens.test.ts
Due: frontend

Keep live apps' links when quarantining and quarantine gated docker sites
  internal/config/quarantine.go
  internal/config/quarantine_test.go
  internal/handlers/quarantine_save_test.go
Due: backend

Ignore invalid MUXIMUX_DISCOVERY_REQUIRE_EXPLICIT_ENABLE values with a warning
  internal/config/autoimport_env.go
  internal/config/config.go
  internal/config/overrides_test.go
Due: backend

Compute auto-import eligibility per container in the scan
  internal/discovery/discovery.go
  internal/discovery/labels.go
  internal/discovery/scan_test.go
  internal/discovery/suggest.go
  internal/discovery/suggest_test.go
Due: backend

Extend the a11y guard to style expressions, .ts class strings and focus rings
  web/src/lib/a11yStatic.test.ts
Due: frontend

List the visible colour shifts in the changelog
  CHANGELOG.md
Due: none

Add the muximux.app.health_check label as a Docker-managed field
  internal/config/config.go
  internal/config/config_test.go
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/suggest.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/config_merge.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
Due: backend

Stop matching generic image segments to catalog entries
  internal/discovery/catalog.go
  internal/discovery/catalog_test.go
Due: backend

Never set the health check marker on a manual import
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_import_test.go
Due: backend

Opt clipped strips and cards in to an inset focus outline
  web/src/app.css
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/ThemeTab.svelte
Due: frontend

Dedupe auto-imported app names by slug
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Set keyboard modality before checking focus-visible in the Settings offset test
  web/src/components/Settings.test.ts
Due: frontend

Key the refresh batch by Docker tracking key
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Give the theme editor text and accent Primary/Secondary fields unique accessible names
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/en.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
Due: frontend

Log Docker refreshes only after the save succeeds
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Make nav app and group icons decorative where a name is already present
  web/src/components/AppIcon.svelte
  web/src/components/AppIcon.test.ts
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
Due: frontend

Give Reconcile skipped, detach and quarantine semantics
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
  internal/discovery/poller.go
Due: backend

Cover the remaining Reconcile input cases and order quarantine removals
  internal/discovery/autoimport.go
  internal/discovery/autoimport_test.go
Due: backend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
