Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Bump github.com/go-jose/go-jose/v4 from 4.1.3 to 4.1.4
  go.mod
  go.sum
Due: none

Bump npm dependencies (marked, paraglide-js, vitest, eslint, svelte, typescript 6, et al)
  web/package-lock.json
Due: none

Fix remaining npm audit vulnerabilities (brace-expansion, yaml)
  web/package-lock.json
Due: none

Add v3.0.26 changelog entry
  CHANGELOG.md
Due: none

Make govulncheck advisory until disputed bbolt CVE is invalidated
  .github/workflows/security.yml
Due: none

Add filepath.Clean and scheme recheck to satisfy CodeQL static analysis
  internal/handlers/icons.go
  internal/handlers/themes.go
Due: backend

Bump OpenTelemetry deps to v1.43.0 (sdk, otlpmetrichttp, otlptracehttp)
  go.mod
  go.sum
Due: none

Add v3.0.27 changelog entry
  CHANGELOG.md
Due: none

Add permissions and allow_notifications fields to AppConfig
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Serialize new app fields through the config API
  internal/handlers/api.go
Due: backend

Permit delegatable features in document-level Permissions-Policy header
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Add iframe permission metadata and "all"/"none" sentinel resolver
  web/src/lib/constants.test.ts
  web/src/lib/constants.ts
  web/src/lib/types.ts
Due: frontend

Emit iframe allow attribute from configured permissions
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
Due: frontend

Add postMessage notification bridge for embedded apps
  web/src/App.svelte
  web/src/lib/notificationBridge.test.ts
  web/src/lib/notificationBridge.ts
Due: frontend

Expose permissions and notification bridge in app settings UI
  web/messages/en.json
  web/src/components/AppForm.svelte
  web/src/components/AppForm.test.ts
  web/src/lib/paraglide/README.md
  web/src/lib/paraglide/messages/_index.js
  web/src/lib/paraglide/messages/appform_allownotifications2.js
  web/src/lib/paraglide/messages/appform_allownotificationsdesc3.js
  web/src/lib/paraglide/messages/appform_helpallownotifications3.js
  web/src/lib/paraglide/messages/appform_permissionsall2.js
  web/src/lib/paraglide/messages/appform_permissionsdesc2.js
  web/src/lib/paraglide/messages/appform_sectionpermissions2.js
  web/src/lib/paraglide/messages/common_readmore1.js
Due: frontend

Document iframe permissions and notification bridge in app docs
  docs/wiki/apps.md
Due: none

Shim Notifications API in proxied apps for transparent bridge use
  docs/wiki/apps.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Add v3.0.28 changelog entry
  CHANGELOG.md
Due: none

Fix frontend lint errors in AppForm permissions UI
  web/src/components/AppForm.svelte
Due: frontend

Document all 18 iframe permissions, not just the common ones
  docs/wiki/apps.md
Due: none

Replace em-dashes in session-added content with plain punctuation
  docs/wiki/apps.md
  internal/handlers/reverse_proxy_test.go
  web/src/App.svelte
  web/src/components/AppForm.svelte
  web/src/lib/notificationBridge.ts
Due: frontend

Rewrite v3.0.28 changelog entry in narrative v3.0.0 tone
  CHANGELOG.md
Due: none

Rewrite README opening and add comparison with other dashboards
  README.md
Due: none

Harden client-IP resolution and bound the login rate-limiter
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Strip Muximux session cookie from proxied HTTP and WebSocket requests
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
  internal/server/server_constants.go
Due: backend

Gate admin-only WebSocket broadcasts behind the subscriber's role
  internal/server/server.go
  internal/websocket/client.go
  internal/websocket/client_test.go
  internal/websocket/hub.go
  internal/websocket/hub_test.go
Due: backend

Require a one-time setup token for /api/auth/setup and /api/config/restore
  internal/server/server.go
  internal/server/server_test.go
  web/src/App.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/lib/api.ts
Due: backend, frontend

Tighten OIDC login: require id_token, add PKCE, harden redirect sanitizer
  internal/auth/oidc.go
  internal/auth/oidc_integration_test.go
  internal/auth/oidc_test.go
Due: backend

Close SSRF gaps in custom-icon fetch: DNS TOCTOU, redirects, CGNAT, MIME
  internal/handlers/icons.go
  internal/handlers/icons_test.go
Due: backend

Harden proxy bodies, dials, and theme writes against silent failures
  internal/handlers/common.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/themes.go
  internal/handlers/themes_test.go
Due: backend

Harden auth endpoints: timing, rollback, last-admin, rate limit, lifetime
  internal/auth/session.go
  internal/auth/session_test.go
  internal/auth/users.go
  internal/auth/users_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend

Close XSS / open-redirect surfaces across icons, themes, iframes, auth
  internal/handlers/icons.go
  internal/handlers/icons_test.go
  internal/handlers/themes.go
  internal/handlers/themes_test.go
  web/src/components/AppFrame.svelte
  web/src/lib/authStore.ts
  web/src/lib/notificationBridge.ts
Due: backend, frontend

Tighten CSP: add frame-ancestors, form-action, drop wildcard ws directive
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Document same-origin trade-off and pick up a few audit hardening items
  docs/wiki/security.md
  internal/server/server.go
  internal/websocket/hub.go
  web/src/components/AppFrame.svelte
Due: backend, frontend

Drop CRLF header injection, roll back failed restores, hide app secrets
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Align forward-auth case, reject corrupt hashes, rehash on login
  cmd/hashpw/main.go
  cmd/muximux/main.go
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/users.go
  internal/auth/users_test.go
Due: backend

Strict YAML decode on import/restore and surface JSON write failures
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/common.go
  internal/server/server.go
Due: backend

Clean up lifecycles: reject empty WS origin, wire OIDC/Hub shutdown
  internal/auth/oidc.go
  internal/auth/oidc_integration_test.go
  internal/auth/oidc_test.go
  internal/server/server.go
  internal/websocket/client.go
  internal/websocket/client_test.go
  internal/websocket/hub.go
Due: backend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
