Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Revise Star History section in README.md
  README.md
Due: none

Enhance Star History section with picture element
  README.md
Due: none

Add scripts/update-deps.sh for a pre-release dependency refresh
  scripts/update-deps.sh
Due: none

Block release-tag pushes when minor/patch deps are stale
  .githooks/pre-push
Due: none

Make the release dep gate peer-aware (npm update --dry-run)
  .githooks/pre-push
Due: none

Drop npx from dev scripts (SonarCloud shell:S6505)
  .githooks/pre-push
  scripts/update-deps.sh
Due: none

add FUNDING.yml
  .github/FUNDING.yml
Due: none

Update dependencies (grpc 1.82.1, go-oidc 3.20, dompurify 3.4.12)
  go.mod
  go.sum
  web/package-lock.json
Due: none

Bump codeql-action to 4.37.3 (init and analyze together)
  .github/workflows/codeql.yml
Due: none

update-deps: update direct Go modules only, not all transitives
  scripts/update-deps.sh
Due: none

Exclude majors from Dependabot dependency groups
  .github/dependabot.yml
Due: none

Add FUNDING.yml (GitHub Sponsors)
  .github/FUNDING.yml
Due: none

Update opentelemetry-go to 1.44.0 (GO-2026-5158)
  go.mod
  go.sum
Due: none

Dynamic tab title and favicon for the active app
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  web/messages/en.json
  web/src/App.svelte
  web/src/components/AppIcon.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/GeneralTab.test.ts
  web/src/lib/favicon.test.ts
  web/src/lib/favicon.ts
  web/src/lib/iconUrl.test.ts
  web/src/lib/iconUrl.ts
  web/src/lib/types.ts
Due: backend, frontend

Refresh frontend dependencies (minor/patch)
  web/package-lock.json
Due: none

Open apps in a new browser tab with Ctrl+Click or middle-click
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
  web/src/lib/appOpen.test.ts
  web/src/lib/appOpen.ts
Due: frontend

Right-click an app icon to edit it
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
Due: frontend

3.3.0 changelog
  CHANGELOG.md
Due: none

README: document Docker-label configuration
  README.md
Due: none

Add forwarded_headers to app config
  internal/config/config.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/src/lib/types.ts
Due: backend, frontend

Fix two layout bugs in the splash grid and log viewer
  web/src/components/Logs.svelte
  web/src/components/Splash.svelte
Due: frontend

Make flat-bar group markers jump to their group
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
Due: frontend

Recognise Seerr in the catalog and Docker discovery
  internal/discovery/catalog.go
  internal/discovery/suggest_test.go
  web/src/lib/popularApps.ts
Due: backend, frontend

Retake screenshots, document forwarded_headers and mobile
  CHANGELOG.md
  README.md
  docs/screenshots/01-welcome.png
  docs/screenshots/03-apps-catalog.png
  docs/screenshots/04-apps-selected.png
  docs/screenshots/05-style.png
  docs/screenshots/05a-style-top.png
  docs/screenshots/05b-style-bottom.png
  docs/screenshots/05c-style-floating.png
  docs/screenshots/05d-style-right.png
  docs/screenshots/06-theme-dark.png
  docs/screenshots/07-theme-light.png
  docs/screenshots/09-dashboard-dark.png
  docs/screenshots/10-dashboard-light.png
  docs/screenshots/11-themes.png
  docs/screenshots/12-theme-customizer.png
  docs/screenshots/13-logs.png
  docs/screenshots/14-split-horizontal.png
  docs/screenshots/15-split-vertical.png
  docs/screenshots/16-command-palette.png
  docs/screenshots/17-mobile.png
  docs/screenshots/18-mobile-menu.png
  docs/wiki/apps.md
  docs/wiki/authentication.md
  docs/wiki/getting-started.md
  docs/wiki/navigation.md
  docs/wiki/reverse-proxy.md
  docs/wiki/troubleshooting.md
Due: none

Reject dot segments in request paths, and fuzz the proxy
  internal/handlers/reverse_proxy_fuzz_test.go
  internal/handlers/testdata/fuzz/FuzzResolveBackendRequestPath/47b472eaa3823033
  internal/handlers/testdata/fuzz/FuzzResolveBackendRequestPath/5716b3fd89e9e80d
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Assert OIDC ID token rejection cases
  internal/auth/oidc_negative_test.go
Due: none

Sign release artifacts and publish an SBOM
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

Document artifact verification, and align container version metadata
  .github/workflows/release.yml
  CHANGELOG.md
  docs/wiki/installation.md
  docs/wiki/security.md
Due: none

Add a tour GIF to the README and wiki, and a social preview card
  README.md
  docs/muximux-social.png
  docs/muximux-tour.gif
  docs/wiki/README.md
Due: none

Correct the deployment comparison row and document flat-bar jumping
  README.md
  docs/wiki/navigation.md
Due: none

Drop the Go Report Card badge
  README.md
Due: none

Name the maintainer in the development section
  README.md
Due: none

Add 3.3.3 changelog entry
  CHANGELOG.md
Due: none

Serve the dev frontend from the directory Vite builds into
  CONTRIBUTING.md
  SECURITY.md
  internal/server/server.go
  web/vitest.config.ts
Due: backend

Compile messages with the same locale strategy as the build
  web/package.json
  web/vite.config.ts
Due: none
