Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Use handwritten release notes for v3.0.0
  .github/workflows/release.yml
Due: none

Add quality gate, maintainability, security and release badges
  README.md
Due: none

Add tests for uncovered functions and fix SonarCloud coverage config
  internal/auth/common_test.go
  internal/auth/oidc_test.go
  internal/auth/session_test.go
  internal/auth/users_test.go
  internal/handlers/api_test.go
  internal/handlers/logs_test.go
  internal/handlers/system_test.go
  internal/logging/logger_test.go
  internal/websocket/hub_test.go
  sonar-project.properties
Due: none

Fix lint warnings in new test files
  internal/auth/session_test.go
  internal/handlers/system_test.go
  internal/logging/logger_test.go
Due: none

Fix all ESLint warnings across frontend
  web/src/components/AppIcon.test.ts
  web/src/components/Logs.svelte
  web/src/components/Settings.test.ts
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/splitStore.test.ts
Due: frontend

Exclude cmd/ and Svelte files from Codecov coverage
  codecov.yml
Due: none

Security hardening: CSP, OIDC validation, API key hashing, audit logging
  .githooks/pre-push
  CONTRIBUTING.md
  README.md
  cmd/muximux/main.go
  codecov.yml
  docs/wiki/README.md
  docs/wiki/_Sidebar.md
  docs/wiki/api.md
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  docs/wiki/security.md
  go.mod
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/auth.go
  internal/logging/logger.go
  internal/server/server.go
  web/vitest.config.ts
Due: backend

Fix goimports grouping in oidc.go
  internal/auth/oidc.go
Due: backend

Make all wiki screenshots clickable
  docs/wiki/README.md
  docs/wiki/authentication.md
  docs/wiki/debug-logging.md
  docs/wiki/getting-started.md
  docs/wiki/navigation.md
  docs/wiki/split-view.md
  docs/wiki/themes.md
Due: none

Fix split-view wiki screenshot URLs
  docs/wiki/split-view.md
Due: none

Replace floating nav screenshot, optimize all PNGs
  docs/screenshots/01-welcome.png
  docs/screenshots/02-security.png
  docs/screenshots/03-apps-catalog.png
  docs/screenshots/04-apps-selected.png
  docs/screenshots/05-style.png
  docs/screenshots/05a-style-top.png
  docs/screenshots/05b-style-bottom.png
  docs/screenshots/05c-style-floating.png
  docs/screenshots/05d-style-right.png
  docs/screenshots/06-theme-dark.png
  docs/screenshots/06b-theme-catppuccin.png
  docs/screenshots/06c-theme-dracula.png
  docs/screenshots/07-theme-light.png
  docs/screenshots/08-done.png
  docs/screenshots/09-dashboard-dark.png
  docs/screenshots/10-dashboard-light.png
  docs/screenshots/11-themes.png
  docs/screenshots/12-theme-customizer.png
  docs/screenshots/13-logs.png
  docs/screenshots/14-split-horizontal.png
  docs/screenshots/15-split-vertical.png
  docs/screenshots/16-command-palette.png
Due: none

Update config.example.yaml: api_key → api_key_hash
  config.example.yaml
Due: none

Add hash subcommand to main binary
  cmd/muximux/main.go
  config.example.yaml
  docs/wiki/authentication.md
Due: backend

Fix gosec G115 lint for stdin Fd conversion
  cmd/muximux/main.go
Due: backend

Add omitempty to AppIconConfig unused fields
  internal/config/config.go
Due: backend

Fix custom icon selection not displaying
  config.example.yaml
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/lib/types.ts
Due: frontend

Fix logout URL not persisting in settings UI
  internal/handlers/api.go
  web/src/components/settings/SecurityTab.svelte
Due: backend, frontend

Fix lint: gofmt alignment and unparam in generateRandomString
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/config/config.go
Due: backend

Update wiki docs to use commented-out optional icon fields
  docs/wiki/apps.md
  docs/wiki/configuration.md
Due: none

Add URL fetch to custom icon tab
  docs/wiki/api.md
  docs/wiki/icons.md
  internal/handlers/icons.go
  internal/handlers/icons_test.go
  internal/server/server.go
  web/src/components/IconBrowser.svelte
  web/src/components/IconBrowser.test.ts
  web/src/lib/api.ts
Due: backend, frontend

Fix split-aware iframe refresh and add nav refresh button
  web/src/App.svelte
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
Due: frontend

Remove proxy URL preservation and positional app matching
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

Clear stale forward-auth fields when switching auth methods
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend

Remove unused AuthConfig fields and update changelog
  CHANGELOG.md
  web/src/lib/types.ts
Due: frontend

Add manifest-src to CSP and auto-switch active split panel
  internal/server/server.go
  web/src/App.svelte
Due: backend, frontend

Update changelog with unreleased changes since v3.0.0
  CHANGELOG.md
Due: none

Fix hotkey/badge mismatch and orphaned gallery app groups
  web/src/App.svelte
  web/src/components/Settings.svelte
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

SSRF protection, simplified shortcuts, collapsed sidebar fix
  CHANGELOG.md
  docs/wiki/apps.md
  docs/wiki/keyboard-shortcuts.md
  docs/wiki/navigation.md
  internal/handlers/icons.go
  internal/handlers/icons_test.go
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: backend, frontend

Release v3.0.1
  CHANGELOG.md
Due: none

Fix shifted character keybindings (e.g. ? requiring Shift)
  CHANGELOG.md
  web/src/lib/keybindingsStore.test.ts
  web/src/lib/keybindingsStore.ts
Due: frontend

Add logout to command palette, fix hash clearing, icon spacing, dynamic shortcut labels
  CHANGELOG.md
  web/src/App.svelte
  web/src/components/CommandPalette.svelte
  web/src/components/CommandPalette.test.ts
  web/src/components/Navigation.svelte
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

Unify app Configure and Edit modals into shared AppForm component
  CHANGELOG.md
  web/src/components/AppForm.svelte
  web/src/components/AppForm.test.ts
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
Due: frontend

Add reserved URL hashes, fix hash navigation, fix collapsed sidebar flyout
  CHANGELOG.md
  web/src/App.svelte
  web/src/components/Navigation.svelte
Due: frontend

Fix lint warnings and add missing changelog link ref
  CHANGELOG.md
  internal/handlers/icons_test.go
  web/src/components/AppForm.svelte
Due: frontend

Use parsed URL for icon fetch instead of raw user input
  internal/handlers/icons.go
Due: backend

Improve frontend performance across navigation, transitions and reactivity
  web/src/App.svelte
  web/src/app.css
  web/src/components/CommandPalette.svelte
  web/src/components/Navigation.svelte
  web/src/components/Splash.svelte
  web/src/lib/healthStore.ts
  web/src/lib/themeStore.ts
Due: frontend

Lazy-load Settings, CommandPalette, Logs, ShortcutsHelp, OnboardingWizard
  web/src/App.svelte
Due: frontend

Add configurable iframe cache limit (max_open_tabs)
  internal/config/config.go
  web/src/components/Navigation.test.ts
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.test.ts
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/GeneralTab.test.ts
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/api.test.ts
  web/src/lib/types.ts
Due: backend, frontend

Add iframe load error handling with retry button
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
Due: frontend

Add sidebar collapse toggle, persist state, and aria-labels
  web/src/components/Navigation.svelte
Due: frontend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
