Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Document OIDC sign-out, SSO-only login and back-channel logout
  CHANGELOG.md
  config.example.yaml
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  docs/wiki/oidc-authentik.md
  docs/wiki/oidc-google.md
  docs/wiki/oidc-keycloak.md
  docs/wiki/oidc-microsoft-entra-id.md
  docs/wiki/oidc-pocket-id.md
  docs/wiki/oidc-zitadel.md
  docs/wiki/security.md
Due: none

Create sessions with their data in one step
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/handlers/auth.go
Due: backend

Keep ${VAR} references when a named item is renamed
  internal/config/envrefs.go
  internal/config/envrefs_test.go
Due: backend

Clarify disable_local_login scope and ${VAR} handling in the docs
  docs/wiki/configuration.md
  docs/wiki/security.md
Due: none

Warn on unmatched back-channel sid and keep the secret out of Config
  internal/auth/oidc_logout.go
  internal/auth/oidc_logout_test.go
Due: backend

Close the OIDC provider with sync.Once
  internal/auth/oidc.go
  internal/auth/oidc_test.go
Due: backend

Note the OIDC sign-in failure page change in the changelog
  CHANGELOG.md
Due: none

Fix plaintext client_secret warning for ${VAR} values
  CHANGELOG.md
  cmd/muximux/main.go
  internal/config/envrefs.go
  internal/config/envrefs_test.go
Due: backend

Simplify the reorder check in the env reference tests
  internal/config/envrefs_test.go
Due: none

Re-record ${VAR} references after every save
  docs/wiki/security.md
  internal/config/config.go
  internal/config/envrefs_test.go
Due: backend

Mark the back-channel logout event identifier as a fixed identifier
  internal/auth/oidc_logout.go
Due: backend

Split OIDC provider replacement into prepare and swap
  internal/handlers/auth.go
  internal/handlers/auth_test.go
Due: backend

Add admin endpoints to read OIDC settings and test a provider
  internal/handlers/auth_oidc_settings.go
  internal/handlers/auth_oidc_settings_test.go
Due: backend

Save OIDC settings from the auth method endpoint
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/handlers/auth.go
  internal/handlers/auth_oidc_settings.go
  internal/handlers/auth_oidc_settings_test.go
Due: backend

Cap and harden redirects in the OIDC provider test
  internal/handlers/auth_oidc_settings.go
  internal/handlers/auth_oidc_settings_test.go
Due: backend

Validate the OIDC redirect URL as an absolute http(s) URL
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Guard identity provider changes while SSO-only sign-in is on
  internal/handlers/auth.go
  internal/handlers/auth_oidc_settings.go
  internal/handlers/auth_oidc_settings_test.go
Due: backend

Check the OIDC redirect URL only when OIDC is enabled
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Register the OIDC settings routes behind admin auth
  internal/server/new_test.go
  internal/server/server.go
Due: backend

Add OIDC settings API calls and types
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: frontend

Add the OIDC settings form
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/OidcSettings.test.ts
Due: frontend

Add OIDC settings translations
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/en.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

Block SSO-only together with a provider change in the OIDC form
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/OidcSettings.test.ts
Due: frontend

Use the effective SSO-only state when guarding provider changes in the form
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/OidcSettings.test.ts
Due: frontend

Add single sign-on to the Security tab
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/types.ts
Due: frontend

Document OIDC setup from Settings
  CHANGELOG.md
  README.md
  docs/wiki/authentication.md
  docs/wiki/getting-started.md
  docs/wiki/oidc-authentik.md
  docs/wiki/oidc-google.md
  docs/wiki/oidc-keycloak.md
  docs/wiki/oidc-microsoft-entra-id.md
  docs/wiki/oidc-pocket-id.md
  docs/wiki/oidc-zitadel.md
Due: none

Add a screenshot of the OIDC settings
  docs/screenshots/19-security-oidc.png
  docs/wiki/authentication.md
Due: none

Correct OIDC Settings docs labels
  CHANGELOG.md
  docs/wiki/authentication.md
  docs/wiki/getting-started.md
  docs/wiki/oidc-authentik.md
  docs/wiki/oidc-google.md
  docs/wiki/oidc-keycloak.md
  docs/wiki/oidc-microsoft-entra-id.md
  docs/wiki/oidc-pocket-id.md
  docs/wiki/oidc-zitadel.md
Due: none

Show the server's message for API errors
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/AboutTab.test.ts
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/OidcSettings.test.ts
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: frontend

Keep the Settings modal clean after an auth method change
  web/src/App.svelte
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/types.ts
Due: frontend

Show the method change confirmation next to the button
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
Due: frontend

Show OIDC claim defaults as placeholders
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/OidcSettings.test.ts
Due: frontend

Drop the repeated OIDC heading and document the discovery timeout
  internal/handlers/auth.go
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/OidcSettings.test.ts
Due: backend, frontend

Use a fixed redirect target in the OIDC redirect loop test
  internal/handlers/auth_oidc_settings_test.go
Due: none

Refresh frontend dependencies for 3.5.0
  web/package-lock.json
Due: none

Add 3.5.0 changelog entry
  CHANGELOG.md
Due: none

Add three-way config merge with original_name identity
  internal/config/config.go
  internal/handlers/api.go
  internal/handlers/config_merge.go
  internal/handlers/config_merge_test.go
Due: backend
