Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Resolve identity claims and name collisions in the config merge
  internal/handlers/config_merge.go
  internal/handlers/config_merge_test.go
Due: backend

Merge config saves three-way and preserve server-owned app fields across renames
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/config_merge.go
  internal/handlers/config_merge_test.go
Due: backend

Cover the three-way save path with handler tests
  internal/handlers/api_test.go
Due: none

Fix health JSON keys, proxy timeout clearing, group rename cascade and detach
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
Due: backend

Leave lifecycle allowed groups alone on a group rename
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

Replace custom icons across formats and revalidate them on every load
  internal/handlers/icons.go
  internal/handlers/icons_test.go
  internal/icons/custom.go
  internal/icons/custom_test.go
Due: backend

Keep environment and flag overrides out of config.yaml
  cmd/muximux/main.go
  cmd/muximux/main_test.go
  internal/config/autoimport_env.go
  internal/config/config.go
  internal/config/overrides.go
  internal/config/overrides_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

Broadcast config_updated after every config save
  internal/config/config.go
  internal/config/config_test.go
  internal/server/new_test.go
  internal/server/server.go
  internal/websocket/client_test.go
  internal/websocket/hub.go
  internal/websocket/hub_test.go
Due: backend

Validate lifecycle allowed groups as user groups
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/discovery.go
Due: backend

Read and merge the Docker discovery config instead of replacing it
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/server/new_test.go
  internal/server/server.go
Due: backend

Translate the Security tab messages
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

Use the reproduction body in the discovery merge test
  internal/handlers/discovery_test.go
Due: none

Validate gateway site saves like load, keep site tracking and keep the Gateway tab in sync
  internal/handlers/gateway.go
  internal/handlers/gateway_test.go
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
Due: backend, frontend

Keep gateway site tracking when the backend address was not edited
  internal/handlers/gateway.go
  internal/handlers/gateway_test.go
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: backend, frontend

Extract config.Parse from Load and let a parsed config inherit runtime overrides
  cmd/muximux/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/migrate_runtime.go
  internal/config/overrides.go
  internal/config/overrides_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: backend

Restore backups through the boot parse path and reinitialise auth, discovery and proxy state
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/new_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Refuse sessions started before a restore and reuse the auth helpers in setup
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/oidc.go
  internal/auth/oidc_integration_test.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/new_test.go
  internal/server/server.go
Due: backend

Add client-side three-way config rebase and base-aware save
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/configMerge.test.ts
  web/src/lib/configMerge.ts
  web/src/lib/types.ts
Due: frontend

Match server zero-value equality in the client rebase
  web/src/lib/configMerge.test.ts
  web/src/lib/configMerge.ts
Due: frontend

Treat pointer fields by presence in the client rebase
  web/src/lib/configMerge.test.ts
  web/src/lib/configMerge.ts
Due: frontend

Stop the http_action method from defaulting to GET when the form opens
  web/src/components/AppForm.svelte
  web/src/components/AppForm.test.ts
Due: frontend

Restart health polling from config, fix docker state under a base path and floating nav precedence
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
  web/src/lib/dockerStateStore.test.ts
  web/src/lib/dockerStateStore.ts
  web/src/lib/healthStore.test.ts
  web/src/lib/healthStore.ts
  web/src/lib/localeStore.test.ts
  web/src/lib/localeStore.ts
Due: frontend

Leave unknown docker state to the next refresh and key nav coordinates by the effective corner
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

Apply pushed config changes live and resync after reconnect
  web/src/App.configSync.test.ts
  web/src/App.svelte
  web/src/lib/configSync.test.ts
  web/src/lib/configSync.ts
  web/src/lib/websocketStore.test.ts
  web/src/lib/websocketStore.ts
  web/src/test/shell/AppFrameStub.svelte
  web/src/test/shell/LoginStub.svelte
  web/src/test/shell/NavigationStub.svelte
  web/src/test/shell/SettingsStub.svelte
  web/src/test/shell/SplashStub.svelte
Due: frontend

Document consistent config saves, live updates and restore
  CHANGELOG.md
  docs/wiki/api.md
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/themes.md
  docs/wiki/troubleshooting.md
Due: none

Register live sync after onboarding and tighten config push handling
  web/src/App.configSync.test.ts
  web/src/App.svelte
  web/src/lib/configSync.test.ts
  web/src/lib/configSync.ts
  web/src/lib/websocketStore.test.ts
  web/src/lib/websocketStore.ts
  web/src/test/shell/NavigationStub.svelte
  web/src/test/shell/OnboardingStub.svelte
  web/src/test/shell/SettingsStub.svelte
Due: frontend

Send a Settings save base normalised like its payload
  internal/handlers/config_merge_parity_test.go
  internal/handlers/testdata/merge_parity_sparse.json
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/lib/configMerge.parity.test.ts
  web/src/lib/configMerge.ts
Due: backend, frontend

Keep an untouched theme in step with the server while Settings is open
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
Due: frontend

Refuse admin auth endpoints until setup completes
  CHANGELOG.md
  internal/server/new_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Ask about unsaved Settings changes on browser back to an app
  web/src/App.configSync.test.ts
  web/src/App.svelte
  web/src/lib/configSync.test.ts
  web/src/lib/configSync.ts
Due: frontend

Merge discovery config saves under the write lock
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
Due: backend

Correct discovery and gateway API docs, wizard and live-update wording
  CHANGELOG.md
  docs/wiki/api.md
  docs/wiki/troubleshooting.md
  internal/config/config.go
  internal/handlers/gateway.go
  internal/websocket/hub.go
Due: backend

Show forward-auth admin groups to admins only
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend
