Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Surface slog attributes in log viewer
  internal/logging/logger.go
  internal/logging/logger_test.go
  web/src/components/Logs.svelte
  web/src/lib/types.ts
Due: backend, frontend

Replace hardcoded Tailwind color classes with CSS custom properties
  web/src/components/AppFrame.svelte
  web/src/components/AppIcon.svelte
  web/src/components/ErrorState.svelte
  web/src/components/HealthIndicator.svelte
  web/src/components/IconBrowser.svelte
  web/src/components/KeybindingsEditor.svelte
  web/src/components/Navigation.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/Skeleton.svelte
  web/src/components/SkeletonIconGrid.svelte
Due: frontend

Add comprehensive logging across all packages
  internal/auth/middleware.go
  internal/auth/oidc.go
  internal/auth/session.go
  internal/auth/users.go
  internal/handlers/api.go
  internal/handlers/auth.go
  internal/handlers/health.go
  internal/handlers/icons.go
  internal/handlers/system.go
  internal/handlers/themes.go
  internal/health/monitor.go
  internal/server/server.go
  internal/websocket/client.go
  internal/websocket/hub.go
Due: backend

Add .worktrees to gitignore
  .gitignore
Due: none

Extract openModes to shared constant, add redirect mode
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/lib/constants.ts
Due: frontend

Add Cancel button to Edit App and Edit Group modals
  web/src/components/Settings.svelte
Due: frontend

Add Zod validation to Edit App and Edit Group modals
  web/src/components/Settings.svelte
Due: frontend

Standardize button styles using design system classes
  web/src/app.css
  web/src/components/Settings.svelte
Due: frontend

Fix consistency and accessibility issues in Settings modal
  web/src/components/Settings.svelte
Due: frontend

Extract duplicated app row template into snippet
  web/src/components/Settings.svelte
Due: frontend

Extract About tab into AboutTab component
  web/src/components/Settings.svelte
  web/src/components/settings/AboutTab.svelte
Due: frontend

Extract General tab into GeneralTab component
  web/src/components/Settings.svelte
  web/src/components/settings/GeneralTab.svelte
Due: frontend

Extract Theme tab into ThemeTab component
  web/src/components/Settings.svelte
  web/src/components/settings/ThemeTab.svelte
Due: frontend

Extract Security tab into SecurityTab component
  web/src/components/Settings.svelte
  web/src/components/settings/SecurityTab.svelte
Due: frontend

Extract Apps tab into AppsTab component
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
Due: frontend

Normalize tab rendering to single if/else chain
  web/src/components/Settings.svelte
Due: frontend

Remove unused svelte-ignore comment in ThemeTab
  web/src/components/settings/ThemeTab.svelte
Due: frontend

Update CHANGELOG with Settings UX overhaul entries
  CHANGELOG.md
Due: none

Add debug logging system gated behind ?debug=true
  web/src/App.svelte
  web/src/components/AppIcon.svelte
  web/src/lib/authStore.ts
  web/src/lib/debug.ts
  web/src/lib/healthStore.ts
  web/src/lib/themeStore.ts
  web/src/lib/websocketStore.ts
Due: frontend

Fix config save/load bugs and button contrast
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/api.go
  internal/handlers/themes.go
  web/src/app.css
  web/src/components/Login.svelte
  web/src/components/settings/ThemeTab.svelte
  web/src/lib/themeStore.ts
Due: backend, frontend

Fix concurrency bugs, auth issues, and update docs
  CHANGELOG.md
  README.md
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Dynamic themed favicons and auth bypass fixes
  README.md
  internal/server/server.go
  web/src/App.svelte
  web/src/lib/favicon.ts
Due: backend, frontend

Add Snyk Node scan and pin CodeQL actions to commit SHAs
  .github/workflows/codeql.yml
  .github/workflows/security.yml
Due: none

Prepare 3.0.0-rc.3 release
  CHANGELOG.md
Due: none

Add runtime URL interceptor for reverse proxy SPA support
  CHANGELOG.md
  docs/wiki/_Sidebar.md
  docs/wiki/debug-logging.md
  docs/wiki/reverse-proxy.md
  docs/wiki/troubleshooting.md
  internal/handlers/api.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/health/monitor.go
  internal/health/monitor_test.go
  internal/server/server.go
  web/src/App.svelte
  web/src/components/HealthIndicator.svelte
  web/src/components/Navigation.svelte
Due: backend, frontend

Make health checks opt-in and skip TLS verification
  internal/health/monitor.go
  internal/server/server.go
  web/src/components/Navigation.svelte
  web/src/components/Settings.svelte
  web/src/components/Splash.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/lib/types.ts
Due: backend, frontend

Update health monitoring docs to reflect opt-in behavior
  docs/wiki/health-monitoring.md
Due: none

Cache visited app iframes and fix default app / splash interaction
  web/src/App.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/GeneralTab.svelte
Due: frontend

Update screenshots and docs with numbered gallery
  README.md
  docs/screenshots/01-welcome.png
  docs/screenshots/02-security.png
  docs/screenshots/03-apps-catalog.png
  docs/screenshots/04-apps-selected.png
  docs/screenshots/05-style.png
  docs/screenshots/06-theme-dark.png
  docs/screenshots/07-theme-light.png
  docs/screenshots/08-done.png
  docs/screenshots/09-dashboard-dark.png
  docs/screenshots/10-dashboard-light.png
  docs/screenshots/11-themes.png
  docs/screenshots/12-theme-customizer.png
  docs/screenshots/13-logs.png
  docs/screenshots/dashboard.png
  docs/screenshots/logs.png
  docs/wiki/README.md
  docs/wiki/apps.md
  docs/wiki/debug-logging.md
  docs/wiki/getting-started.md
  docs/wiki/themes.md
  web/src/components/OnboardingWizard.svelte
Due: frontend

Show informational message instead of login form for forward auth
  docs/wiki/api.md
  docs/wiki/authentication.md
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  web/src/components/Login.svelte
Due: backend, frontend

Prepare 3.0.0-rc.1 release
  CHANGELOG.md
Due: none

Fix lint errors and update docs for opt-in health and bottom bar
  docs/wiki/getting-started.md
  docs/wiki/navigation.md
  web/src/App.svelte
Due: frontend

Fix stale and incorrect information across wiki docs
  docs/wiki/README.md
  docs/wiki/api.md
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  docs/wiki/installation.md
  docs/wiki/navigation.md
  docs/wiki/reverse-proxy.md
  docs/wiki/troubleshooting.md
  internal/config/config.go
Due: backend

Fix broken debug-logging link and remove version reference
  docs/wiki/troubleshooting.md
Due: none

Add size limit to proxy response rewriting and fix docs
  docs/wiki/troubleshooting.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Update reverse proxy docs for gzip and size limit behavior
  docs/wiki/reverse-proxy.md
Due: none

Fix race conditions, improve performance, and clean up logging
  cmd/muximux/main.go
  internal/auth/common.go
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/oidc.go
  internal/auth/session.go
  internal/auth/users.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/auth.go
  internal/handlers/health.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/health/monitor.go
  internal/logging/logger.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/websocket/hub.go
Due: backend

Fix title template, hash routing on refresh, and group icon tooltips
  web/src/App.svelte
  web/src/components/Navigation.svelte
Due: frontend

Update wiki docs for health opt-in, roles, and onboarding steps
  docs/wiki/apps.md
  docs/wiki/configuration.md
  docs/wiki/getting-started.md
  docs/wiki/installation.md
  docs/wiki/navigation.md
Due: none

Add logout_url support for forward auth providers
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  internal/config/config.go
  internal/handlers/auth.go
  internal/server/server.go
  web/src/components/OnboardingWizard.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/lib/authStore.test.ts
  web/src/lib/authStore.ts
  web/src/lib/types.ts
Due: backend, frontend
