Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Auto-import only labelled containers and never write an app without a URL
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Harden the screenshot script and tidy SonarCloud findings
  .gitignore
  sonar-project.properties
  web/scripts/a11y-shots.mjs
  web/src/components/HeadersEditor.test.ts
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/contrast.ts
  web/src/lib/themeContrast.test.ts
Due: frontend

Skip invalid sites per container and prune skip warnings
  internal/config/quarantine.go
  internal/config/quarantine_test.go
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Log missing tracked containers once per transition
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Re-log resolve errors after an outage and cover add and update modes
  .superpowers/sdd/plan-499-discovery/task-10-report.md
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Exclude local dev scripts from SonarCloud analysis
  sonar-project.properties
Due: none

Quarantine unchanged broken auto-imported apps on save instead of rejecting it
  internal/config/quarantine.go
  internal/config/quarantine_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

Never quarantine on a name clash during save and ignore reorders
  internal/config/quarantine.go
  internal/config/quarantine_test.go
  internal/handlers/api_test.go
Due: backend

Show quarantined and missing Docker entries in Discovery and let Remove delete them
  internal/handlers/discovery.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
  internal/handlers/discovery_test.go
Due: backend

Tidy discovery detach docs, cover rollback and keep URL credentials out of reasons
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
Due: backend

Address review notes: Latin Serbian health strings, readable active step, safe light-dark parsing
  sonar-project.properties
  web/messages/sr.json
  web/src/components/OnboardingWizard.svelte
  web/src/lib/contrast.test.ts
  web/src/lib/contrast.ts
Due: frontend

Track Swarm services and Compose services by stable keys
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/swarm.go
  internal/discovery/trackingkey.go
  internal/discovery/trackingkey_test.go
  internal/discovery/url.go
  internal/discovery/url_test.go
Due: backend

Document stable swarm and compose keys and cover their edge cases
  internal/discovery/labels.go
  internal/discovery/suggest.go
  internal/discovery/trackingkey.go
  internal/discovery/trackingkey_test.go
Due: backend

Read Swarm services and collapse containers that share a tracking key
  internal/discovery/client.go
  internal/discovery/client_test.go
  internal/discovery/swarm.go
  internal/discovery/swarm_test.go
Due: backend

Use Swarm service ports and labels in the scan and the refresh
  internal/discovery/client_test.go
  internal/discovery/discovery.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/discovery/swarm.go
  internal/discovery/swarm_test.go
Due: backend

Migrate name-based Docker tracking keys to stable Swarm and Compose keys
  internal/discovery/discovery.go
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
  internal/discovery/rekey.go
  internal/discovery/rekey_test.go
Due: backend

Do not carry a missing record across a re-key
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
  internal/discovery/rekey.go
  internal/discovery/rekey_test.go
Due: backend

Show why a container is not auto-imported and add the explicit opt-in switch
  web/messages/en.json
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/lib/types.ts
Due: frontend

Describe the discovery toggles for screen readers and translate the scan dialog
  web/messages/en.json
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/lib/types.ts
Due: frontend

Show quarantined and missing Docker entries and lock the label-managed health check
  web/messages/en.json
  web/src/components/AppForm.svelte
  web/src/components/AppForm.test.ts
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/lib/configMerge.test.ts
  web/src/lib/configMerge.ts
  web/src/lib/dockerTracking.test.ts
  web/src/lib/dockerTracking.ts
Due: frontend

Show tracked-entry errors inline, keep focus after removal and localize times
  web/messages/en.json
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/lib/dockerTracking.test.ts
Due: frontend

Translate the discovery changes
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

Document the discovery labels, quarantine and Swarm support
  CHANGELOG.md
  docs/wiki/api.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/security.md
Due: none

Name Swarm task suggestions after their service
  internal/discovery/poller.go
  internal/discovery/suggest.go
  internal/discovery/suggest_test.go
  internal/discovery/swarm.go
Due: backend

Scope quarantined Remove to quarantined entries
  docs/wiki/api.md
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: backend, frontend

Keep gateway-routed apps on their domain while the site is quarantined
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Log why sync removed an auto-imported entry
  internal/discovery/poller.go
  internal/discovery/poller_test.go
Due: backend

Drop superseded quarantined entries only after a successful save
  internal/config/config.go
  internal/config/overrides.go
  internal/config/quarantine.go
  internal/config/quarantine_test.go
Due: backend

Limit sync cleanup of quarantined entries to the polled endpoint
  internal/config/quarantine.go
  internal/discovery/issue499_test.go
  internal/discovery/poller.go
Due: backend

Redact credentials from gateway backend_url validation errors
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Clarify quarantine lifetime, version tag and Swarm renames in the docs
  CHANGELOG.md
  docs/wiki/api.md
  docs/wiki/docker-discovery.md
Due: none

Prefer an importable replica and restore focus after detach
  internal/discovery/discovery.go
  internal/discovery/swarm.go
  internal/discovery/swarm_test.go
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
Due: backend, frontend

Re-sync set display labels onto tracked Docker apps
  docs/wiki/docker-discovery.md
  internal/config/config.go
  internal/discovery/autoimport.go
  internal/discovery/labels.go
  internal/discovery/labelsync.go
  internal/discovery/labelsync_test.go
  internal/discovery/poller.go
Due: backend

Cascade label renames once and allow order 0
  docs/wiki/docker-discovery.md
  internal/discovery/labels.go
  internal/discovery/labelsync.go
  internal/discovery/labelsync_test.go
  internal/discovery/poller.go
Due: backend

Create missing groups on Docker import and never hide orphaned apps
  docs/wiki/apps.md
  docs/wiki/docker-discovery.md
  internal/config/groups.go
  internal/config/groups_test.go
  internal/discovery/groups_test.go
  internal/discovery/labelsync.go
  internal/discovery/labelsync_test.go
  internal/discovery/poller.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_import_groups_test.go
  internal/handlers/discovery_import_test.go
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/AppsTab.test.ts
Due: backend, frontend

Meet AA on tinted badges, notices and toasts
  docs/wiki/themes.md
  web/public/themes/catppuccin-light.css
  web/public/themes/catppuccin.css
  web/public/themes/cineplex-dark.css
  web/public/themes/dracula-light.css
  web/public/themes/dracula.css
  web/public/themes/gruvbox.css
  web/public/themes/nord-light.css
  web/public/themes/nord.css
  web/public/themes/rose-pine-light.css
  web/public/themes/rose-pine.css
  web/public/themes/solarized-dark.css
  web/public/themes/tokyo-night-light.css
  web/public/themes/tokyo-night.css
  web/src/app.css
  web/src/lib/semanticTokens.test.ts
  web/src/lib/themeContrast.test.ts
Due: frontend

Keep the text hierarchy in Rose Pine
  web/public/themes/catppuccin-light.css
  web/public/themes/rose-pine-light.css
  web/public/themes/rose-pine.css
  web/public/themes/solarized-dark.css
  web/public/themes/solarized-light.css
  web/public/themes/tokyo-night-light.css
  web/src/lib/themeContrast.test.ts
Due: frontend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
