Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Add integration tests for OIDC and forward auth
  internal/auth/forward_auth_integration_test.go
  internal/auth/oidc_integration_test.go
Due: none

Update README section order and complete config example
  README.md
  config.example.yaml
Due: none

Fix CI lint issues and upgrade Caddy for govulncheck
  go.mod
  go.sum
  internal/auth/forward_auth_integration_test.go
  internal/auth/oidc_integration_test.go
  internal/auth/users.go
  internal/handlers/auth_test.go
  internal/handlers/reverse_proxy.go
  internal/health/monitor.go
  internal/server/server.go
Due: backend

Improve test coverage and update API docs for logout_url
  docs/wiki/api.md
  internal/server/server_test.go
  web/src/components/OnboardingWizard.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/authStore.test.ts
  web/src/lib/forwardAuthPresets.test.ts
  web/src/lib/forwardAuthPresets.ts
  web/src/test/setup.ts
  web/vitest.config.ts
Due: frontend

Fix TypeScript errors in test files
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/authStore.test.ts
Due: frontend

Prepare for rc.2: fix release workflow, add changelog entry
  .github/workflows/release.yml
  CHANGELOG.md
  docker-compose.yml
Due: none

Resolve SonarCloud code quality issues
  Dockerfile
  internal/auth/oidc_test.go
  internal/handlers/api.go
  internal/handlers/auth.go
  internal/handlers/common.go
  internal/handlers/reverse_proxy.go
  internal/proxy/proxy.go
  internal/server/server.go
  internal/server/server_constants.go
  scripts/check-docstrings.sh
  web/eslint.config.js
  web/src/lib/api.ts
  web/src/lib/authStore.ts
  web/src/lib/debug.ts
  web/src/lib/themeStore.ts
  web/src/lib/types.ts
  web/src/lib/useSwipe.ts
  web/src/lib/websocketStore.ts
Due: backend, frontend

Fix gofmt formatting in constant blocks and struct literals
  internal/config/config.go
  internal/handlers/api.go
  internal/handlers/common.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
Due: backend

Make SonarCloud quality gate non-blocking in CI
  .github/workflows/ci.yml
Due: none

Update changelog for rc.2 with SonarCloud fixes and dependency bumps
  CHANGELOG.md
Due: none

Add config restore to onboarding wizard, fix data directory resolution
  .gitignore
  CHANGELOG.md
  README.md
  cmd/muximux/main.go
  docs/wiki/configuration.md
  docs/wiki/getting-started.md
  docs/wiki/installation.md
  docs/wiki/troubleshooting.md
  internal/server/server.go
  web/src/components/OnboardingWizard.svelte
  web/src/lib/api.ts
  web/vite.config.ts
Due: backend, frontend

Add logs/ to gitignore
  .gitignore
Due: none

Add tests for config restore endpoint, fix lint issues
  internal/auth/users.go
  internal/health/monitor.go
  internal/logging/logger.go
  internal/server/server_test.go
Due: backend

Use absolute URLs for wiki screenshot images
  docs/wiki/README.md
  docs/wiki/authentication.md
  docs/wiki/debug-logging.md
  docs/wiki/getting-started.md
  docs/wiki/themes.md
Due: none

Consolidate changelog for v3.0.0 release
  CHANGELOG.md
Due: none

Force floating navigation on mobile viewports
  README.md
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/Settings.svelte
Due: frontend

Update docs for mobile floating nav and FAB popover
  CHANGELOG.md
  docs/wiki/getting-started.md
  docs/wiki/navigation.md
Due: none

Fix forward auth setup and health check bypass
  internal/handlers/auth.go
  internal/server/server.go
  web/src/components/settings/SecurityTab.svelte
Due: backend, frontend

Add changelog entry for v3.0.1
  CHANGELOG.md
Due: none

Polish docs for v3.0.0 release
  CHANGELOG.md
  README.md
  docs/wiki/themes.md
  docs/wiki/tls-and-gateway.md
Due: none

Add split view state store with tests
  web/src/lib/splitStore.svelte.ts
  web/src/lib/splitStore.test.ts
Due: frontend

Add split view divider component
  web/src/components/SplitDivider.svelte
Due: frontend

Integrate split view into App.svelte content area
  web/src/App.svelte
Due: frontend

Add split view toggle button to all navigation positions
  web/src/App.svelte
  web/src/components/Navigation.svelte
Due: frontend

Add split view to docs and feature lists
  CHANGELOG.md
  README.md
Due: none

Polish split view UX and add toggle behavior to nav buttons
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/SplitDivider.svelte
  web/src/lib/splitStore.svelte.ts
  web/src/lib/splitStore.test.ts
Due: frontend

Add draggable floating FAB with position persistence
  docs/wiki/navigation.md
  web/src/components/Navigation.svelte
Due: frontend

Update docs for split view, toggle buttons, and draggable FAB
  CHANGELOG.md
  README.md
  docs/wiki/README.md
  docs/wiki/_Sidebar.md
  docs/wiki/apps.md
  docs/wiki/keyboard-shortcuts.md
  docs/wiki/split-view.md
Due: none

Smart panel positioning for draggable floating FAB
  web/src/components/Navigation.svelte
Due: frontend

Add comprehensive frontend test suite
  web/src/components/AppFrame.test.ts
  web/src/components/AppIcon.test.ts
  web/src/components/CommandPalette.test.ts
  web/src/components/ErrorState.test.ts
  web/src/components/HealthIndicator.test.ts
  web/src/components/IconBrowser.test.ts
  web/src/components/KeybindingsEditor.test.ts
  web/src/components/Login.test.ts
  web/src/components/Logs.test.ts
  web/src/components/MuximuxLogo.test.ts
  web/src/components/Navigation.test.ts
  web/src/components/OnboardingWizard.test.ts
  web/src/components/Settings.test.ts
  web/src/components/ShortcutsHelp.test.ts
  web/src/components/Skeleton.test.ts
  web/src/components/SkeletonIconGrid.test.ts
  web/src/components/Splash.test.ts
  web/src/components/SplitDivider.test.ts
  web/src/components/settings/AboutTab.test.ts
  web/src/components/settings/AppsTab.test.ts
  web/src/components/settings/GeneralTab.test.ts
  web/src/components/settings/SecurityTab.test.ts
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/constants.test.ts
  web/src/lib/debug.test.ts
  web/src/lib/favicon.test.ts
  web/src/lib/logStore.test.ts
  web/src/lib/types.test.ts
  web/tsconfig.json
Due: frontend

Update screenshots, docs, and logo for v3.0.0 release
  CHANGELOG.md
  README.md
  docs/screenshots/01-welcome.png
  docs/screenshots/02-security.png
  docs/screenshots/03-apps-catalog.png
  docs/screenshots/04-apps-selected.png
  docs/screenshots/05-style.png
  docs/screenshots/05a-style-top.png
  docs/screenshots/05b-style-bottom.png
  docs/screenshots/05c-style-floating.png
  docs/screenshots/05d-style-right.png
  docs/screenshots/06-theme-dark.png
  docs/screenshots/06b-theme-catppuccin.png
  docs/screenshots/06c-theme-dracula.png
  docs/screenshots/07-theme-light.png
  docs/screenshots/08-done.png
  docs/screenshots/09-dashboard-dark.png
  docs/screenshots/10-dashboard-light.png
  docs/screenshots/11-themes.png
  docs/screenshots/12-theme-customizer.png
  docs/screenshots/13-logs.png
  docs/screenshots/14-split-horizontal.png
  docs/screenshots/15-split-vertical.png
  docs/screenshots/16-command-palette.png
  docs/wiki/getting-started.md
  docs/wiki/navigation.md
  docs/wiki/split-view.md
  docs/wiki/themes.md
  web/public/muximux-logo.svg
  web/src/components/OnboardingWizard.svelte
Due: frontend

Retake dashboard screenshots with cleaner app selection
  docs/screenshots/09-dashboard-dark.png
  docs/screenshots/10-dashboard-light.png
  docs/screenshots/11-themes.png
  docs/screenshots/12-theme-customizer.png
  docs/screenshots/13-logs.png
  docs/screenshots/14-split-horizontal.png
  docs/screenshots/15-split-vertical.png
  docs/screenshots/16-command-palette.png
Due: none

Add scroll indicators for sidebar and floating panel navigation
  web/src/app.css
  web/src/components/Navigation.svelte
Due: frontend

Add scroll fade indicator tests for sidebar and floating panel
  web/src/components/Navigation.test.ts
Due: frontend

Show 'Overview' as page title when on splash screen
  web/src/App.svelte
Due: frontend

Refactor main() to reduce cyclomatic complexity
  cmd/muximux/main.go
Due: backend

Add scroll fade tests for right sidebar and floating panel
  web/src/components/Navigation.test.ts
Due: frontend

Fix floating panel sizing and improve page title for split view
  docs/screenshots/05-style.png
  docs/screenshots/05a-style-top.png
  docs/screenshots/05b-style-bottom.png
  docs/screenshots/05c-style-floating.png
  web/src/App.svelte
  web/src/components/Navigation.svelte
Due: frontend

Exclude cmd/ from coverage to fix SonarCloud quality gate
  .github/workflows/ci.yml
  sonar-project.properties
Due: none
