Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

Recognise a completed setup by its 409 status, not its wording
  web/src/App.configSync.test.ts
  web/src/App.svelte
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: frontend

Replace custom icons through a temp file and rename
  internal/icons/custom.go
  internal/icons/custom_test.go
Due: backend

Refuse an empty group name on group update
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/common.go
Due: backend

Pin that an override-only field stays out of config.yaml
  internal/config/config.go
  internal/config/overrides_test.go
Due: backend

Move a test helper comment to the function it describes
  internal/handlers/auth_test.go
Due: none

Warn about stray http_action fields at load only
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Ignore Docker tracking fields when creating apps and gateway sites
  CHANGELOG.md
  docs/wiki/api.md
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/gateway.go
  internal/handlers/gateway_test.go
Due: backend

Word the legacy server.gateway error for restores too
  internal/config/config.go
  internal/config/config_test.go
Due: backend

Pin theme-name refusal for every casing of a bundled name
  internal/handlers/themes_test.go
Due: none

Treat a null health block as absent in the client rebase
  web/src/lib/configMerge.test.ts
  web/src/lib/configMerge.ts
Due: frontend

List POST first in the http_action method select
  internal/config/config.go
  web/src/components/AppForm.http_action.test.svelte.ts
  web/src/components/AppForm.svelte
Due: backend, frontend

Add a save-then-reopen round-trip test for the Discovery tab
  web/src/components/settings/DiscoveryTab.test.ts
Due: frontend

Keep the setup token out of the log buffer and close the logs endpoint before setup
  CHANGELOG.md
  README.md
  docs/wiki/authentication.md
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/server/new_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Keep wizard app groups consistent on finish
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
Due: frontend

Rotate a setup token found in an old log and explain legacy gateway backups
  CHANGELOG.md
  docs/wiki/authentication.md
  internal/config/config.go
  internal/config/config_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/server/new_test.go
  internal/server/server.go
Due: backend

List the onboarding wizard group fix in the changelog
  CHANGELOG.md
Due: none

Refuse the websocket and other dynamic routes before setup
  CHANGELOG.md
  internal/server/new_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Bump golang.org/x/net to v0.60.0
  go.mod
  go.sum
Due: none

List the x/net security update in the changelog
  CHANGELOG.md
Due: none

Sort canonical keys with an explicit code-point comparator
  web/src/components/Settings.svelte
  web/src/lib/configMerge.test.ts
  web/src/lib/configMerge.ts
Due: frontend

Add a WCAG contrast helper and theme CSS fixtures
  web/src/lib/contrast.test.ts
  web/src/lib/contrast.ts
  web/src/test/themeFixtures.ts
Due: frontend

Add semantic status and accent tokens with the shades the UI uses today
  web/src/app.css
  web/src/lib/semanticTokens.test.ts
Due: frontend

Add the theme contrast test in report mode with a failure baseline
  web/src/lib/themeContrast.test.ts
  web/src/test/contrastBaseline.json
Due: frontend

Make the contrast baseline remove-only by default and cover neutral borders
  web/src/lib/themeContrast.test.ts
  web/src/test/contrastBaseline.json
Due: frontend

Add a static accessibility guard with migration budgets
  web/src/lib/a11yStatic.test.ts
Due: frontend

Remove the text-white and brand colour overrides; buttons use the accent tokens
  web/src/app.css
  web/src/components/ConfirmActionModal.svelte
  web/src/components/ConfirmActionModal.test.ts
  web/src/components/ConfirmDockerActionModal.svelte
  web/src/components/ErrorState.svelte
  web/src/components/ErrorState.test.ts
  web/src/components/IconBrowser.svelte
  web/src/components/KeybindingsEditor.svelte
  web/src/components/Navigation.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Splash.svelte
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/ThemeTab.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Count icon-only buttons and test every guard rule
  web/src/lib/a11yStatic.test.ts
Due: frontend

Use semantic status tokens in Settings, OIDC and Login
  web/src/components/Login.svelte
  web/src/components/Login.test.ts
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/components/settings/OidcSettings.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Announce login and settings errors to screen readers
  web/src/components/Login.svelte
  web/src/components/Login.test.ts
Due: frontend

Use semantic status tokens in the Security tab
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/a11yStatic.test.ts
Due: frontend

Keep a hover cue on Security tab links
  web/src/components/settings/SecurityTab.svelte
Due: frontend

Use semantic status tokens in the onboarding wizard
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/lib/a11yStatic.test.ts
Due: frontend

Use semantic status tokens in the Discovery and Gateway tabs
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/a11yStatic.test.ts
Due: frontend

Announce discovery banner state changes
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
Due: frontend

Use semantic tokens in the editors, lists and About tab
  web/src/components/AppForm.svelte
  web/src/components/ErrorState.svelte
  web/src/components/HeadersEditor.svelte
  web/src/components/IconBrowser.svelte
  web/src/components/IconBrowser.test.ts
  web/src/components/KeybindingsEditor.svelte
  web/src/components/KeybindingsEditor.test.ts
  web/src/components/LocaleSelect.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Finish the move to semantic colour tokens in scoped CSS, Logs and navigation
  web/src/components/CommandPalette.svelte
  web/src/components/Login.svelte
  web/src/components/Logs.svelte
  web/src/components/Logs.test.ts
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/ShortcutsHelp.svelte
  web/src/components/Skeleton.svelte
  web/src/components/Splash.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/ThemeTab.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Honour prefers-reduced-motion for animations and transitions
  web/src/app.css
  web/src/components/CommandPalette.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/components/ShortcutsHelp.svelte
  web/src/components/Splash.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/lib/motion.test.ts
  web/src/lib/motion.ts
Due: frontend

Give every focusable element the same visible focus outline
  web/src/app.css
  web/src/components/AppForm.svelte
  web/src/components/CommandPalette.svelte
  web/src/components/CommandPalette.test.ts
  web/src/components/IconBrowser.svelte
  web/src/components/LocaleSelect.svelte
  web/src/components/Login.svelte
  web/src/components/Logs.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/OidcSettings.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend
