Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add collapsible groups on splash page and improve shortcut label
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
Due: frontend

Add PWA service worker for static asset caching
  internal/server/server.go
  web/public/sw.js
Due: backend

Only cache successful responses in service worker
  web/public/sw.js
Due: none

Remove sidebar collapse toggle buttons
  web/src/components/Navigation.svelte
Due: frontend

Fix DOM flickering during WebSocket reconnection
  web/src/lib/websocketStore.ts
Due: frontend

Downgrade expected WebSocket errors to debug logging
  web/src/lib/websocketStore.ts
Due: frontend

Update docs, changelog, and config example for new features
  CHANGELOG.md
  config.example.yaml
  docs/wiki/configuration.md
  web/src/App.svelte
Due: frontend

Fix unused variable lint error in websocketStore
  web/src/lib/websocketStore.ts
Due: frontend

Release v3.0.3
  CHANGELOG.md
Due: none

Remove empty Unreleased section from changelog
  CHANGELOG.md
Due: none

Fix CSP blocking inline scripts and proxied app content
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Bump golang.org/x/net to v0.51.0 (CVE-2026-27141)
  go.mod
  go.sum
Due: none

Add base_path support to dev SPA handler and version-aware SW cache
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Release v3.0.4
  CHANGELOG.md
Due: none

Update 3.0.4 changelog to match release notes
  CHANGELOG.md
Due: none

Add development tooling disclosure and project philosophy to docs
  CONTRIBUTING.md
  README.md
Due: none

Fix white flash when switching app iframes on dark themes
  CHANGELOG.md
  README.md
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
Due: frontend

Override window.parent/top in proxied iframes and fix cross-origin SW caching
  CHANGELOG.md
  README.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/public/sw.js
Due: backend

Fix null access in Settings group editor after Svelte 5.53.7 update
  web/src/components/Settings.svelte
Due: frontend

Update v3.0.6 changelog with Svelte fix and dependency bumps
  CHANGELOG.md
Due: none

Add star history chart to README
  README.md
Due: none

Centralize logging and error handling
  internal/auth/forward_auth_integration_test.go
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/oidc.go
  internal/auth/oidc_integration_test.go
  internal/auth/oidc_test.go
  internal/auth/session_test.go
  internal/auth/users_test.go
  internal/handlers/api.go
  internal/handlers/auth.go
  internal/handlers/common.go
  internal/handlers/errors.go
  internal/handlers/errors_test.go
  internal/handlers/health.go
  internal/handlers/icons.go
  internal/handlers/logs.go
  internal/handlers/proxy.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/system.go
  internal/handlers/themes.go
  internal/handlers/themes_test.go
  internal/health/monitor_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/server/middleware_test.go
  internal/server/server.go
  internal/websocket/client_test.go
  internal/websocket/hub_test.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/useSwipe.test.ts
  web/src/lib/useSwipe.ts
Due: backend, frontend

Add log rotation, log persistence, and icon cache cleanup
  CHANGELOG.md
  cmd/muximux/main.go
  docs/wiki/api.md
  docs/wiki/configuration.md
  docs/wiki/debug-logging.md
  docs/wiki/deployment.md
  docs/wiki/security.md
  internal/config/config.go
  internal/icons/cleanup.go
  internal/icons/cleanup_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/server/middleware_test.go
  internal/server/server.go
Due: backend

Fix proxy window isolation for apps with internal sub-iframes
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Handle URL objects in proxy fetch/XHR interceptor
  internal/handlers/reverse_proxy.go
Due: backend

Broaden proxy interceptor URL coverage for dynamic DOM elements
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Fix PWA icons to use correct theme colors and solid background
  web/index.html
  web/public/android-chrome-192x192.png
  web/public/android-chrome-256x256.png
  web/public/android-chrome-512x512.png
  web/public/apple-touch-icon.png
  web/public/browserconfig.xml
  web/public/favicon-16x16.png
  web/public/favicon-32x32.png
  web/public/favicon.ico
  web/public/manifest.json
  web/public/mstile-150x150.png
  web/public/muximux-logo.svg
Due: none

Update changelog for v3.0.8
  CHANGELOG.md
Due: none

Fix WebSocket upgrades, manifest CSP, client IP logging, proxy SW leaks, and iframe white flash
  CHANGELOG.md
  docs/wiki/troubleshooting.md
  internal/auth/middleware.go
  internal/handlers/reverse_proxy.go
  internal/server/server.go
  web/index.html
  web/src/App.svelte
  web/src/app.css
  web/src/components/AppFrame.svelte
  web/src/components/AppFrame.test.ts
Due: backend, frontend

Ensure PWA icon updates are picked up without manual cache clearing
  CHANGELOG.md
  internal/server/server.go
  web/public/sw.js
Due: backend

Fix settings popup not closing after save
  CHANGELOG.md
  web/src/components/Settings.svelte
Due: frontend

feat(i18n): convert directional CSS to logical properties for RTL support
  web/src/App.svelte
  web/src/app.css
  web/src/components/AppForm.svelte
  web/src/components/CommandPalette.svelte
  web/src/components/IconBrowser.svelte
  web/src/components/KeybindingsEditor.svelte
  web/src/components/Login.svelte
  web/src/components/Logs.svelte
  web/src/components/Navigation.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/Splash.svelte
  web/src/components/Splash.test.ts
  web/src/components/SplitDivider.svelte
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/ThemeTab.svelte
Due: frontend

fix: resolve lint errors from i18n merge
  web/src/components/OnboardingWizard.svelte
  web/src/lib/localeStore.ts
Due: frontend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
