Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

CHANGELOG: drop bogus 'Resolves #316' from the 3.1.0 entry
  CHANGELOG.md
Due: none

Catalog: fully address #333, expand onboarding picker
  CHANGELOG.md
  web/messages/en.json
  web/src/lib/popularApps.ts
Due: frontend

docker-entrypoint: auto-detect Docker socket group, no DOCKER_GID required
  CHANGELOG.md
  docker-compose.yml
  docker-entrypoint.sh
  docs/wiki/docker-discovery.md
Due: none

Discovery: zero-touch socket access + Windows npipe + full GitOps labels
  CHANGELOG.md
  README.md
  config.example.yaml
  docker-compose.yml
  docs/wiki/debug-logging.md
  docs/wiki/deployment.md
  docs/wiki/docker-discovery.md
  docs/wiki/getting-started.md
  docs/wiki/navigation.md
  docs/wiki/reverse-proxy.md
  docs/wiki/split-view.md
  docs/wiki/tls-and-gateway.md
  docs/wiki/troubleshooting.md
  go.mod
  go.sum
  internal/config/config.go
  internal/discovery/client.go
  internal/discovery/client_test.go
  internal/discovery/dial_npipe_other.go
  internal/discovery/dial_npipe_windows.go
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/suggest.go
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoveryTab.svelte
  web/src/lib/types.ts
Due: backend, frontend

Discovery: address CI lint + branch-coverage feedback
  internal/discovery/labels.go
  internal/discovery/suggest.go
  web/src/components/settings/DiscoverModal.test.ts
Due: backend, frontend

SonarCloud cleanup: BLOCKERs, vulnerability, MAJOR bugs, constants
  .github/workflows/security.yml
  Dockerfile
  internal/config/config.go
  internal/discovery/labels.go
  internal/discovery/suggest.go
  internal/discovery/url.go
  internal/server/server.go
  internal/server/server_constants.go
  web/src/components/CommandPalette.test.ts
  web/src/components/OnboardingWizard.test.ts
  web/src/lib/favicon.test.ts
Due: backend, frontend

SonarCloud: clear the new-code quality gate
  .github/workflows/security.yml
  internal/auth/oidc.go
  web/src/lib/api.ts
Due: backend, frontend

discovery: lenient catalog match + skip Muximux self from Discover
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  internal/discovery/catalog.go
  internal/discovery/catalog_test.go
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/discovery/suggest.go
Due: backend

discovery: end-to-end tests for the suggestForContainer fallback
  internal/discovery/suggest_test.go
Due: none

config: add http_action fields to AppConfig
  internal/config/config.go
Due: backend

nav: start collapsed on mount when auto_hide is enabled
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
Due: frontend

config: validate http_action url, method, and headers
  internal/config/config.go
  internal/config/config_test.go
Due: backend

handlers: add shared action relay client to APIHandler
  internal/handlers/api.go
Due: backend

handlers: extend fire-action test helper to recognise RESOLVE_UPSTREAM_WITH_QUERY
  internal/handlers/http_action_test.go
Due: none

handlers: add http_action relay handler
  internal/handlers/http_action.go
Due: backend

discovery: parse muximux.app.http_action_* labels
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/suggest.go
Due: backend

types: extend App open_mode with http_action plus FireActionResult
  web/src/lib/constants.ts
  web/src/lib/types.http_action.test.ts
  web/src/lib/types.ts
Due: frontend

components: HeadersEditor for http_action header KV input
  web/messages/en.json
  web/src/components/HeadersEditor.svelte
  web/src/components/HeadersEditor.test.ts
Due: frontend

components: ConfirmActionModal for http_action destructive prompt
  web/messages/en.json
  web/src/components/ConfirmActionModal.svelte
  web/src/components/ConfirmActionModal.test.ts
Due: frontend

api: fireAppAction client surfacing relay 502 errors
  web/src/lib/api.fireAppAction.test.ts
  web/src/lib/api.ts
Due: frontend

app: dispatch http_action fires and fix redirect open_mode no-op
  web/src/App.fireAction.test.ts
  web/src/App.svelte
Due: frontend

app: sync App.fireAction test replica with implementation
  web/src/App.fireAction.test.ts
Due: frontend

components: AppForm renders http_action fields and hides iframe-only ones
  web/messages/en.json
  web/src/components/AppForm.http_action.test.svelte.ts
  web/src/components/AppForm.svelte
  web/src/components/Settings.svelte
  web/src/lib/constants.test.ts
  web/vitest.config.ts
Due: frontend

i18n: add http_action keys to en plus English fallback in 35 locales
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/en.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

docs: HTTP Actions wiki page plus apps + sidebar links
  docs/wiki/_Sidebar.md
  docs/wiki/apps.md
  docs/wiki/http-actions.md
Due: none

changelog: note http_action open_mode and redirect bug fix
  CHANGELOG.md
Due: none

config: restore 85% statement coverage with targeted unit tests
  internal/config/config_test.go
Due: none

server: wire /api/app-action route into registerAPIRoutes
  internal/server/server.go
  internal/server/server_test.go
Due: backend

handlers: project http_action fields through ClientAppConfig DTO
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

handlers: satisfy golangci-lint on http_action code
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/api.go
  internal/handlers/http_action.go
  internal/handlers/http_action_test.go
Due: backend

config: add discovery.docker lifecycle and badge fields
  internal/config/config.go
  internal/config/config_test.go
Due: backend

discovery: add DockerState cache and Service accessors
  internal/discovery/discovery.go
  internal/discovery/docker_state.go
  internal/discovery/docker_state_test.go
Due: backend

auth: add InAnyGroup case-insensitive membership helper
  internal/auth/users.go
  internal/auth/users_test.go
Due: backend

websocket: add EventDockerStateChanged event and payload
  internal/websocket/hub.go
  internal/websocket/hub_test.go
Due: backend

handlers: add mapDockerError translator for Docker daemon strings
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
Due: backend

auth: expose can_use_docker_lifecycle on user info responses
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
Due: backend

config: drop unused log-collection fields (container log streaming descoped)
  internal/config/config.go
  internal/config/config_test.go
Due: backend

discovery: add StartContainer with postContainerAction helper
  internal/discovery/client.go
  internal/discovery/client_test.go
Due: backend

discovery: add StopContainer and RestartContainer with timeout
  internal/discovery/client.go
  internal/discovery/client_test.go
Due: backend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
