Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - web/src/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "internal/server/dist/**"
  - "web/dist/**"
  - "web/node_modules/**"

chore: bump Go toolchain to 1.26.1
  go.mod
Due: none

chore: update dependencies
  go.mod
  go.sum
  web/package-lock.json
  web/package.json
Due: none

test: add coverage for LocaleSelect and syncLocaleFromConfig
  web/src/components/LocaleSelect.test.ts
  web/src/lib/localeStore.test.ts
Due: frontend

fix: assorted bug fixes and hardening
  internal/auth/middleware.go
  internal/config/config.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
  internal/server/server_test.go
  sonar-project.properties
  web/eslint.config.js
  web/src/App.svelte
  web/src/components/Navigation.svelte
  web/src/components/Settings.svelte
Due: backend, frontend

chore: pre-release housekeeping
  .gitignore
  sonar-project.properties
  web/package-lock.json
  web/package.json
Due: none

fix: stability improvements for proxy timeouts and resource cleanup
  internal/auth/session.go
  internal/auth/session_test.go
  internal/handlers/reverse_proxy.go
  internal/health/monitor.go
  internal/server/middleware_test.go
  internal/server/server.go
Due: backend

release: v3.0.12
  CHANGELOG.md
Due: none

fix: modal outro transitions crash when guard variable is null
  CHANGELOG.md
  web/src/components/Settings.svelte
Due: frontend

release: v3.0.13
  CHANGELOG.md
  sonar-project.properties
  web/src/components/IconBrowser.svelte
  web/src/components/KeybindingsEditor.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/ThemeTab.svelte
  web/src/lib/popularApps.test.ts
  web/src/lib/popularApps.ts
  web/src/lib/types.ts
Due: frontend

fix: proxy interceptor patches history API for SPA routing
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  sonar-project.properties
  web/src/components/AppForm.svelte
  web/src/components/AppIcon.svelte
Due: backend, frontend

fix: comprehensive proxy interceptor hardening and settings normalization
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  sonar-project.properties
  web/src/components/Settings.svelte
  web/src/lib/types.ts
Due: backend, frontend

docs: tighten v3.0.15 release notes tone
  CHANGELOG.md
Due: none

fix: close remaining proxy interceptor gaps and fix slug generation
  CHANGELOG.md
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

fix: harden proxy header handling for CSRF, cookies, caching, and CORS
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

docs: comprehensive reverse proxy wiki update
  docs/wiki/reverse-proxy.md
Due: none

docs: add v3.0.16 changelog entry
  CHANGELOG.md
Due: none

fix: strip meta CSP tags, Permissions-Policy header, and relax iframe sandbox
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/src/components/AppFrame.svelte
Due: backend, frontend

fix: keep URL clean during init when Location getters are non-configurable
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

docs: add v3.0.18 changelog entry
  CHANGELOG.md
Due: none

Fix browser back/forward navigation in dashboard and proxied iframes
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/src/App.svelte
Due: backend, frontend

Add v3.0.19 changelog entry
  CHANGELOG.md
Due: none

Fix proxied apps breaking out of proxy via location.href on Chrome
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Add debug log for iframe safety net, document listener ordering
  internal/handlers/reverse_proxy.go
  web/src/App.svelte
Due: backend, frontend

Fix proxy interceptor injection into script-embedded HTML and trailing slash in restore-prefix
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Fix Navigation API handler blocking proxy prefix strip on Chrome
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Inject <base> tag for apps using relative resource URLs
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Update changelog and proxy docs for v3.0.21
  CHANGELOG.md
  docs/wiki/reverse-proxy.md
Due: none

Add devalue bump to v3.0.21 changelog
  CHANGELOG.md
Due: none

Strip Origin header on safe methods to fix Spring Security CORS rejection
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Fix OIDC authentication returning 401 after successful login
  CHANGELOG.md
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/oidc.go
  internal/auth/oidc_integration_test.go
Due: backend

Add undici bump to v3.0.22 changelog
  CHANGELOG.md
Due: none

Fix JS rewriter corrupting Angular _baseHref assignment
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Add v3.0.23 changelog entry
  CHANGELOG.md
Due: none

Strip Origin header from all proxied requests, not just safe methods
  CHANGELOG.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Fix peer dependency conflict and clean up deprecated options
  web/package-lock.json
  web/package.json
  web/vitest.config.ts
Due: none

Bump github.com/smallstep/certificates from 0.30.0-rc3 to 0.30.0
  go.mod
  go.sum
Due: none

Add AI disclosure to README
  README.md
Due: none

Add configurable overview button and collapsible toolbar for top/bottom bars
  internal/config/config.go
  internal/config/config_test.go
  web/messages/en.json
  web/src/components/Navigation.svelte
  web/src/components/Settings.svelte
  web/src/components/settings/GeneralTab.svelte
  web/src/components/settings/GeneralTab.test.ts
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/paraglide/messages/_index.js
  web/src/lib/paraglide/messages/general_collapsibletoolbar1.js
  web/src/lib/paraglide/messages/general_collapsibletoolbardesc2.js
  web/src/lib/paraglide/messages/general_overviewbutton1.js
  web/src/lib/paraglide/messages/general_overviewbuttondesc2.js
  web/src/lib/paraglide/messages/general_overviewcustom1.js
  web/src/lib/paraglide/messages/general_overviewhidden1.js
  web/src/lib/paraglide/messages/general_overviewhouse1.js
  web/src/lib/paraglide/messages/general_overviewlogo1.js
  web/src/lib/paraglide/runtime.js
  web/src/lib/paraglide/server.js
  web/src/lib/types.ts
  web/vite.config.ts
Due: backend, frontend

Fix lint and type errors from overview button feature
  internal/config/config_test.go
  web/src/components/OnboardingWizard.svelte
Due: frontend

Add v3.0.25 changelog entry
  CHANGELOG.md
Due: none
