Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Surface errors instead of swallowing: SSRF, panic, port, fsync, perms
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/icons.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  internal/server/server.go
  web/src/lib/constants.ts
Due: backend, frontend

Stop frontend from "Unexpected token '<'" loops and raw HTML in toasts
  web/src/lib/api.ts
  web/src/lib/authStore.ts
Due: frontend

Remove dead CORS echo, close WS bridge, harden theme + OIDC checks
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/themes.go
  internal/handlers/themes_test.go
  internal/server/server.go
Due: backend

Log JSON write errors in server setup path; validate config import
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/server/server.go
  internal/server/server_constants.go
Due: backend

Stop pull-to-refresh from lying about slow or broken iframes
  web/src/components/AppFrame.svelte
Due: frontend

wiki sync: strip .md from anchored cross-page links too
  .github/workflows/wiki.yml
Due: none

Rename built-in dark/light theme ids to muximux / muximux-light
  web/public/themes/muximux-light.css
  web/public/themes/muximux.css
  web/src/app.css
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/themeStore.test.ts
  web/src/lib/themeStore.ts
Due: frontend

docs(wiki): refresh to match current code
  docs/wiki/authentication.md
  docs/wiki/configuration.md
  docs/wiki/gateway-examples.md
  docs/wiki/getting-started.md
  docs/wiki/installation.md
  docs/wiki/security.md
  docs/wiki/translations.md
  docs/wiki/troubleshooting.md
Due: none

Rewrite the API-key docs to match reality
  docs/wiki/api.md
  docs/wiki/apps.md
  docs/wiki/authentication.md
Due: none

Add GET /api/appearance for embedded apps (issue #321)
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Document GET /api/appearance for embedded apps
  docs/wiki/apps.md
Due: none

docs: clarify the three proxy+auth configurations
  docs/wiki/authentication.md
Due: none

docs(api): add /api/appearance and /api/config/restore, note X-Setup-Token
  docs/wiki/api.md
Due: none

Let external apps authenticate /api/appearance with X-Api-Key
  docs/wiki/apps.md
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Release v3.0.29: audit hardening + appearance API
  .gitignore
  CHANGELOG.md
Due: none

Quiet golangci-lint on new code paths
  internal/auth/oidc_integration_test.go
  internal/auth/oidc_test.go
  internal/handlers/api_test.go
  internal/handlers/common.go
  internal/handlers/icons_test.go
  internal/handlers/reverse_proxy_test.go
  internal/handlers/themes.go
  internal/handlers/themes_test.go
  internal/server/server.go
Due: backend

Fix authStore type: User | undefined vs User | null
  web/src/lib/authStore.ts
Due: frontend

Abbreviate v3.0.29 changelog entry
  CHANGELOG.md
Due: none

Fix notifications on mobile and make the proxy shim honest
  CHANGELOG.md
  docs/wiki/apps.md
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  web/public/sw.js
  web/src/lib/notificationBridge.test.ts
  web/src/lib/notificationBridge.ts
Due: backend, frontend

Clear pre-existing golangci-lint warnings
  cmd/hashpw/main.go
  internal/auth/oidc_test.go
  internal/handlers/api.go
  internal/handlers/auth_test.go
  internal/handlers/icons.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
Due: backend

Note the lint-clean baseline in the v3.0.30 changelog
  CHANGELOG.md
Due: none

Add MseeP.ai badge to README.md
  README.md
Due: none

Add Settings UI for managing the instance API key
  CHANGELOG.md
  docs/wiki/authentication.md
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: backend, frontend

Add per-IdP setup guides for OIDC and forward-auth providers
  docs/wiki/README.md
  docs/wiki/_Sidebar.md
  docs/wiki/authentication.md
  docs/wiki/forward-auth-authelia.md
  docs/wiki/forward-auth-cloudflare-access.md
  docs/wiki/oidc-authentik.md
  docs/wiki/oidc-google.md
  docs/wiki/oidc-keycloak.md
  docs/wiki/oidc-microsoft-entra-id.md
  docs/wiki/oidc-pocket-id.md
  docs/wiki/oidc-zitadel.md
Due: none

Note the IdP guides in the v3.0.31 changelog entry
  CHANGELOG.md
Due: none

Cover the appearance route, OIDC redirect warner, setup-token cleanup, and Stop
  internal/server/server_test.go
  sonar-project.properties
Due: none

Add per-app group filtering (allowed_groups)
  CHANGELOG.md
  docs/wiki/authentication.md
  internal/auth/forward_auth_integration_test.go
  internal/auth/middleware.go
  internal/auth/oidc.go
  internal/auth/users.go
  internal/config/config.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
  web/src/components/AppForm.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/lib/types.ts
Due: backend, frontend

Surface obscured errors and tighten doc honesty
  internal/handlers/common.go
  internal/handlers/system.go
  internal/handlers/system_test.go
  internal/icons/dashboard.go
  internal/proxy/proxy.go
  internal/server/server.go
Due: backend

Promote five string enums to defined types
  internal/config/config.go
  internal/discovery/catalog.go
  internal/discovery/discovery.go
  internal/discovery/suggest.go
  internal/discovery/url.go
  internal/handlers/discovery.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_lifecycle.go
Due: backend

Phase C: catalog + scan endpoint + Discover modal
  internal/discovery/catalog.go
  internal/discovery/catalog_test.go
  internal/discovery/discovery.go
  internal/discovery/labels.go
  internal/discovery/labels_test.go
  internal/discovery/suggest.go
  internal/discovery/suggest_test.go
  internal/discovery/url.go
  internal/discovery/url_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/server/server.go
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: backend, frontend

Network-filter UX: pick from real Docker networks (chips + datalist)
  internal/discovery/client.go
  internal/discovery/client_test.go
  internal/discovery/discovery.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/server/server.go
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/lib/api.ts
Due: backend, frontend

Phase F: edit-lock UX + detach + re-link + auto-detach
  internal/discovery/discovery.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
  internal/server/server.go
  web/src/components/AppForm.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: backend, frontend

Phase A: discovery package + capability endpoint
  internal/config/config.go
  internal/discovery/client.go
  internal/discovery/client_test.go
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/discovery/selfdetect.go
  internal/discovery/selfdetect_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/server/server.go
Due: backend

Introduce TrackingKey value type
  internal/discovery/poller.go
  internal/discovery/trackingkey.go
  internal/discovery/trackingkey_test.go
  internal/handlers/discovery_lifecycle.go
Due: backend

3.1.0 prep: per-row icon picker, CHANGELOG, coverage uplift
  CHANGELOG.md
  web/src/components/AppForm.test.ts
  web/src/components/ShortcutsHelp.test.ts
  web/src/components/settings/AboutTab.test.ts
  web/src/components/settings/AppsTab.test.ts
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/DiscoveryTab.test.ts
  web/src/components/settings/DiscoveryTrackedEntries.test.ts
  web/src/components/settings/GatewayTab.test.ts
  web/src/test/IconBrowserStub.svelte
Due: frontend

Replace gateway 'Linked app' free-text input with a dropdown
  web/src/components/settings/GatewayTab.svelte
Due: frontend

Surface caddy rollback failures + log silent resolve errors
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_import.go
  internal/proxy/proxy.go
  web/src/components/settings/AppsTab.svelte
Due: backend, frontend

Tighten auth and admin-only API surface
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/auth/users.go
  internal/auth/users_test.go
  internal/config/config.go
  internal/handlers/auth.go
  internal/handlers/system.go
  internal/handlers/system_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/server/server.go
  web/src/App.svelte
Due: backend, frontend

Phase D: import endpoint + tracking fields + dedup
  internal/config/config.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_import_test.go
  internal/handlers/gateway.go
  internal/server/server.go
  web/src/components/Settings.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: backend, frontend

Fill coverage gaps surfaced by the review
  internal/handlers/api_test.go
  internal/handlers/discovery_import_test.go
  internal/handlers/discovery_lifecycle_test.go
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/lib/api.test.ts
Due: frontend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
