Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Trap focus in every modal and make the background inert
  web/src/components/CommandPalette.svelte
  web/src/components/ConfirmActionModal.svelte
  web/src/components/ConfirmDockerActionModal.svelte
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/components/ShortcutsHelp.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/lib/focusTrap.test.ts
  web/src/lib/focusTrap.ts
Due: frontend

Stop nesting controls inside theme and app cards
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/components/settings/ThemeTab.svelte
  web/src/components/settings/ThemeTab.test.ts
  web/src/lib/a11yStatic.test.ts
Due: frontend

Underline links that sit inside running text
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/AboutTab.test.ts
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
Due: frontend

Make the log scroll region keyboard focusable and labelled
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/en.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
  web/src/components/Logs.svelte
  web/src/components/Logs.test.ts
Due: frontend

Match the wizard dialog's tabindex to the other dialogs
  web/src/components/OnboardingWizard.svelte
  web/src/lib/a11yStatic.test.ts
Due: frontend

Re-create deleted label groups and keep server-added groups on save
  internal/discovery/groups_test.go
  internal/discovery/labelsync.go
  internal/discovery/poller.go
  internal/handlers/config_merge.go
  internal/handlers/config_save_groups_test.go
  web/messages/en.json
  web/src/components/Navigation.svelte
  web/src/components/Navigation.test.ts
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/AppsTab.test.ts
Due: backend, frontend

Apply muximux.group.* labels to Docker-managed groups
  docs/wiki/api.md
  docs/wiki/docker-discovery.md
  internal/config/config.go
  internal/config/groups.go
  internal/config/groups_test.go
  internal/discovery/discovery.go
  internal/discovery/grouplabels.go
  internal/discovery/grouplabels_test.go
  internal/discovery/labels.go
  internal/discovery/labelsync_test.go
  internal/discovery/poller.go
  internal/discovery/suggest.go
  internal/handlers/api.go
  internal/handlers/config_group_marker_test.go
  internal/handlers/config_merge.go
  web/src/lib/types.ts
Due: backend, frontend

Trap focus in pickers over dialogs and close sub-dialogs with Escape
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/focusTrap.test.ts
Due: frontend

Release Docker groups on reorder only when their order comes from a label
  docs/wiki/api.md
  docs/wiki/docker-discovery.md
  internal/config/config.go
  internal/config/groups.go
  internal/config/groups_test.go
  internal/discovery/grouplabels.go
  internal/discovery/grouplabels_test.go
  internal/handlers/api.go
  internal/handlers/config_group_marker_test.go
  internal/handlers/config_merge.go
  web/src/lib/types.ts
Due: backend, frontend

Apply network_filter in the discovery tick and read Swarm services once per tick (#500)
  internal/discovery/discovery.go
  internal/discovery/filter500_test.go
  internal/discovery/poller.go
Due: backend

Discover modal marks containers that are already tracked (#500)
  docs/wiki/api.md
  internal/discovery/suggest.go
  internal/handlers/discovery.go
  internal/handlers/discovery_tracked_test.go
  web/messages/en.json
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/lib/types.ts
Due: backend, frontend

Mark containers tracked on any endpoint in the Discover modal
  internal/discovery/suggest.go
  internal/handlers/discovery.go
  internal/handlers/discovery_tracked_test.go
  web/messages/en.json
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/lib/types.ts
Due: backend, frontend

Translate and document the #500 discovery changes
  CHANGELOG.md
  docs/wiki/docker-discovery.md
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/ko.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

Check the Security none notice and record contrast detail in a11y shots
  web/scripts/a11y-shots.mjs
Due: none

Guard the label re-sync by Docker endpoint
  internal/discovery/labelsync.go
  internal/discovery/labelsync_test.go
  internal/discovery/poller.go
Due: backend

Correct tracked, ownership and group-rename notes for label re-sync docs
  CHANGELOG.md
  docs/wiki/api.md
  docs/wiki/docker-discovery.md
Due: none

Remove a stray working note from the repository
  .superpowers/sdd/plan-499-discovery/task-10-report.md
Due: none

Clarify which apps the label re-sync leaves alone
  docs/wiki/docker-discovery.md
Due: none

Keep accent foregrounds readable on hover and in custom themes
  docs/wiki/themes.md
  web/public/themes/README.md
  web/src/app.css
  web/src/components/Navigation.svelte
  web/src/lib/themeContrast.test.ts
  web/src/lib/themeStore.test.ts
  web/src/lib/themeStore.ts
Due: frontend

Hold TypeScript majors until svelte-check and typescript-eslint support them
  .github/dependabot.yml
Due: none

Add 3.6.0 changelog entry
  CHANGELOG.md
Due: none

Refresh frontend dependencies for 3.6.0
  web/package-lock.json
Due: none

Qualify the keyboard support note in the 3.6.0 changelog
  CHANGELOG.md
Due: none

Refresh Go dependencies for 3.6.0
  go.mod
  go.sum
Due: none

Refresh Go dependencies for 3.6.0 (#511)
  go.mod
  go.sum
Due: none

Let aborted proxy responses through without logging a panic
  CHANGELOG.md
  internal/server/middleware_test.go
  internal/server/server.go
Due: backend

Stop logging aborted proxy streams as panics (#512)
  CHANGELOG.md
  internal/server/middleware_test.go
  internal/server/server.go
Due: backend

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
