Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

auth: correct VerifyAPIKey doc on legacy-hash migration timing
  internal/auth/middleware.go
Due: backend

main: log the final shutdown line before closing the logger
  cmd/muximux/main.go
  internal/logging/logger_test.go
Due: backend

discovery: don't let a poll tick clobber a mid-tick lifecycle state write
  internal/discovery/discovery.go
  internal/discovery/docker_state_test.go
  internal/discovery/poller.go
Due: backend

discovery: capture the state-cache watermark before the daemon read
  internal/discovery/discovery.go
  internal/discovery/poller.go
Due: backend

auth: auto-upgrade a legacy bcrypt API-key hash to sha256 on first use
  internal/auth/middleware.go
  internal/auth/middleware_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
Due: backend

auth: harden the API-key upgrade hook (review follow-ups)
  internal/auth/middleware.go
  internal/handlers/auth.go
Due: backend

i18n: escape braces in the custom-headers hint so it is not parsed as params
  web/messages/en.json
Due: none

about: sanitize the remote changelog HTML before rendering it (#14)
  web/package-lock.json
  web/package.json
  web/src/components/settings/AboutTab.svelte
  web/src/lib/changelog.test.ts
  web/src/lib/changelog.ts
Due: frontend

security: stop stashing the plaintext password in sessionStorage (#25)
  web/src/App.svelte
  web/src/components/settings/SecurityTab.svelte
  web/src/components/settings/SecurityTab.test.ts
Due: frontend

a11y: make the app add/edit modals accessible dialogs with focus trapping (#26)
  web/src/components/Settings.svelte
  web/src/components/Settings.test.ts
  web/src/lib/focusTrap.test.ts
  web/src/lib/focusTrap.ts
Due: frontend

ux: keep the docker confirm modal open until the action resolves (#27)
  web/src/components/ConfirmDockerActionModal.svelte
  web/src/components/ConfirmDockerActionModal.test.ts
  web/src/components/Splash.svelte
Due: frontend

docs: add 3.3.0 changelog entry
  CHANGELOG.md
Due: none

proxy: treat x-gzip as gzip so legacy backends keep path rewriting
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

review: address CodeRabbit findings on the review branch
  internal/auth/middleware.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
Due: backend

docs: retarget the changelog entry to 3.2.2 (security release)
  CHANGELOG.md
Due: none

security: filter docker-state by per-app visibility (read-side of #13)
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/handlers/docker_lifecycle.go
  internal/handlers/docker_lifecycle_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/websocket/hub.go
  internal/websocket/hub_test.go
Due: backend

docs: note the docker-state visibility fix in the 3.2.2 changelog
  CHANGELOG.md
Due: none

security: filter health endpoints by per-app visibility too
  internal/handlers/health.go
  internal/handlers/health_test.go
  internal/server/server.go
  internal/websocket/client_test.go
  internal/websocket/hub.go
  internal/websocket/hub_test.go
Due: backend

docs: broaden the visibility-fix changelog line to include health
  CHANGELOG.md
Due: none

a11y: focus-trap + Escape on the discover/relink modals, aria-modal on the wizard
  web/src/components/OnboardingWizard.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/lib/focusTrap.test.ts
  web/src/lib/focusTrap.ts
Due: frontend

security: validate user colours before injecting them into inline styles
  web/src/components/AppIcon.svelte
  web/src/components/Splash.svelte
  web/src/lib/safeColor.test.ts
  web/src/lib/safeColor.ts
Due: frontend

fix: guard parseInt results against NaN
  web/src/components/AppForm.svelte
  web/src/components/Navigation.svelte
Due: frontend

docs: note the discovery-dialog a11y and colour-validation fixes in 3.2.2
  CHANGELOG.md
Due: none

fix: reject app slug collisions instead of silently dropping a route
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
Due: backend

feat: warn about proxy-slug collisions as you type
  web/messages/en.json
  web/src/App.svelte
  web/src/components/AppForm.svelte
  web/src/components/AppForm.test.ts
  web/src/components/Settings.svelte
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/slug.test.ts
  web/src/lib/slug.ts
Due: frontend

fix: single-source three rules that were duplicated across BE/FE
  internal/config/config.go
  internal/config/config_test.go
  internal/server/server.go
  internal/server/server_test.go
  web/src/components/AppFrame.svelte
  web/src/lib/appUrl.test.ts
  web/src/lib/appUrl.ts
  web/src/lib/schemas.test.ts
  web/src/lib/schemas.ts
Due: backend, frontend

Add lifecycle rate limit and audit actor to discovery writes
  internal/handlers/common.go
  internal/handlers/discovery.go
  internal/handlers/discovery_import.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Add keyboard reordering for apps and groups
  web/messages/en.json
  web/src/App.svelte
  web/src/components/Announcer.svelte
  web/src/components/Announcer.test.ts
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/AppsTab.test.ts
  web/src/lib/announce.test.ts
  web/src/lib/announce.ts
  web/src/lib/reorder.test.ts
  web/src/lib/reorder.ts
Due: frontend

docs: clarify the gateway backend-URL help text
  web/src/components/settings/GatewayTab.svelte
Due: frontend

docs: sharpen proxy positioning in the README
  README.md
Due: none

3.2.3 changelog
  CHANGELOG.md
Due: none

Add Korean (ko) translation
  web/messages/ko.json
  web/project.inlang/settings.json
  web/src/lib/localeStore.ts
Due: frontend

Add Korean (ko) translation (#397)
  web/messages/ko.json
  web/project.inlang/settings.json
  web/src/lib/localeStore.ts
Due: frontend

Reserve identity placeholders from config env expansion
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
Due: backend

Add muximux hash --api-key to emit the SHA-256 api_key_hash form
  cmd/muximux/main.go
  config.example.yaml
Due: backend

Support object-shaped OIDC group claims (Zitadel project roles)
  internal/auth/oidc.go
  internal/auth/oidc_test.go
Due: backend

Merge verified ID-token claims with userinfo in OIDC callback
  internal/auth/oidc.go
  internal/auth/oidc_test.go
Due: backend

3.2.4 changelog
  CHANGELOG.md
Due: none

Note Korean translation in the 3.2.4 changelog
  CHANGELOG.md
Due: none

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
