Repository mescon/Muximux: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Phase E: refresh poller + ApplyGatewaySites + divergence banner
  .githooks/pre-push
  internal/discovery/discovery.go
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/discovery/refresh_state_test.go
  internal/discovery/scan_test.go
  internal/handlers/gateway.go
  internal/proxy/apply.go
  internal/proxy/apply_test.go
  internal/proxy/proxy.go
  internal/proxy/translate.go
  internal/server/server.go
  web/src/components/settings/DiscoveryTab.svelte
  web/src/components/settings/DiscoveryTab.test.ts
Due: backend, frontend

Address review findings from the post-fix audit
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/handlers/api.go
  internal/handlers/reverse_proxy.go
  internal/handlers/system.go
  internal/handlers/system_test.go
  internal/icons/dashboard.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/server/server.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: backend, frontend

Gateway auth gate: Settings UI
  web/src/components/settings/GatewayTab.svelte
  web/src/lib/types.ts
Due: frontend

DiscoverModal help tips: cleaner copy + explain why gateway = subdomain
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
Due: frontend

Close proxy bypass, CSRF gap, and WS Set-Cookie passthrough
  internal/handlers/reverse_proxy.go
  internal/handlers/reverse_proxy_test.go
  internal/server/server.go
  internal/server/server_test.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: backend, frontend

3.1.0 docs: fix YAML examples that wouldn't load + fill reference gaps
  CHANGELOG.md
  README.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-auth.md
Due: none

Discovery: routing radio + reload-on-import + gateway_listen
  docs/wiki/tls-and-gateway.md
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_import_test.go
  internal/handlers/discovery_lifecycle_test.go
  internal/handlers/discovery_routing_matrix_test.go
  internal/handlers/discovery_test.go
  internal/proxy/gateway_listen_test.go
  internal/proxy/proxy.go
  internal/server/server.go
  web/src/components/settings/DiscoverModal.svelte
  web/src/lib/types.ts
Due: backend, frontend

GatewayTab: don't lint the form while required fields are empty
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
Due: frontend

Phase B: Discovery settings tab + capability-gated button
  internal/handlers/discovery.go
  internal/handlers/discovery_test.go
  internal/server/server.go
  web/src/components/Settings.svelte
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/DiscoveryTab.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: backend, frontend

Wire reverse-proxy route rebuild into discovery mutation paths
  internal/discovery/poller.go
  internal/discovery/poller_test.go
  internal/handlers/discovery.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_import_test.go
  internal/handlers/discovery_lifecycle.go
  internal/server/server.go
Due: backend

Fail fast on theme / icon storage init
  internal/handlers/icons.go
  internal/handlers/icons_test.go
  internal/handlers/themes.go
  internal/handlers/themes_test.go
  internal/icons/custom.go
  internal/icons/custom_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: backend

Gateway auth gate: tests + docs
  docs/wiki/_Sidebar.md
  docs/wiki/gateway-auth.md
  internal/config/config_test.go
  internal/handlers/gateway_auth_test.go
  internal/proxy/gateway_listen_test.go
Due: none

Phase G: documentation for docker discovery
  README.md
  docs/wiki/_Sidebar.md
  docs/wiki/apps.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-examples.md
Due: none

Add rollback to mutation paths and persist bcrypt rehash
  internal/auth/users.go
  internal/auth/users_test.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/auth.go
  internal/handlers/auth_test.go
  internal/server/server.go
Due: backend

deps: bump npm + Go to latest, add govulncheck/lint to pre-push
  .githooks/pre-push
  .github/workflows/codeql.yml
  go.mod
  go.sum
  internal/discovery/trackingkey_test.go
  web/package-lock.json
  web/package.json
  web/src/lib/paraglide/README.md
  web/src/lib/paraglide/registry.js
Due: frontend

3.1.0 polish: inline cookie-scope editor, snappier icon picker, clearer confidence chip
  internal/handlers/api.go
  internal/handlers/api_test.go
  web/src/components/IconBrowser.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
  web/src/lib/types.ts
  web/src/test/IconBrowserStub.svelte
Due: backend, frontend

Comment hygiene + deduplicate refresh-telemetry formatter
  internal/discovery/discovery.go
  internal/discovery/poller.go
  internal/handlers/api.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/gateway.go
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoveryTab.svelte
  web/src/lib/api.ts
Due: backend, frontend

Close silent UX failures + handler edge cases
  internal/discovery/poller.go
  internal/handlers/discovery_lifecycle.go
  internal/handlers/discovery_lifecycle_test.go
  internal/server/server.go
  web/src/components/settings/AppsTab.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.svelte
  web/src/components/settings/DiscoveryRelinkModal.test.ts
  web/src/components/settings/DiscoveryTrackedEntries.svelte
  web/src/components/settings/GatewayTab.svelte
  web/src/lib/types.ts
Due: backend, frontend

Surface silent failures and tighten config / runtime invariants
  cmd/muximux/main.go
  cmd/muximux/migrate_gateway.go
  internal/auth/middleware.go
  internal/auth/oidc.go
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/auth.go
  internal/handlers/themes.go
  internal/icons/custom.go
  internal/icons/lucide.go
  internal/logging/logger.go
  internal/server/server.go
  internal/server/server_test.go
  internal/websocket/hub.go
  internal/websocket/hub_test.go
Due: backend

DiscoverModal: per-checkbox help-tip explains Add to menu vs Add gateway site
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
Due: frontend

Gateway auth gate: backend (config + handler + Caddyfile)
  internal/auth/session.go
  internal/config/config.go
  internal/handlers/gateway_auth.go
  internal/proxy/proxy.go
  internal/proxy/translate.go
  internal/server/server.go
Due: backend

Catalog: annotate Readarr EOL + Overseerr/Jellyseerr Seerr migration
  internal/discovery/catalog.go
Due: backend

Perf Tier 1: 8 low-risk wins before 3.1.0 tag
  internal/discovery/poller.go
  internal/handlers/gateway_auth.go
  internal/handlers/reverse_proxy.go
  internal/server/server.go
  web/src/components/AppIcon.svelte
  web/src/components/settings/AboutTab.svelte
  web/src/components/settings/DiscoverModal.svelte
  web/vite.config.ts
Due: backend, frontend

3.1.0 hardening: forward-auth loopback gate, SaveConfig validation, admin round-trip
  CHANGELOG.md
  internal/config/config.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/gateway_auth.go
  internal/handlers/gateway_auth_test.go
  web/src/components/Navigation.svelte
  web/src/components/Splash.svelte
Due: backend, frontend

Pre-compress static assets at startup: brotli + gzip with content negotiation
  go.mod
  go.sum
  internal/server/precompress.go
  internal/server/precompress_test.go
  internal/server/server.go
  web/src/lib/paraglide/messages/appform_allownotifications2.js
  web/src/lib/paraglide/messages/appform_allownotificationsdesc3.js
  web/src/lib/paraglide/messages/appform_helpallownotifications3.js
  web/src/lib/paraglide/messages/appform_permissionsall2.js
  web/src/lib/paraglide/messages/appform_permissionsdesc2.js
  web/src/lib/paraglide/messages/appform_sectionpermissions2.js
  web/src/lib/paraglide/messages/common_readmore1.js
  web/src/lib/paraglide/messages/general_collapsibletoolbar1.js
  web/src/lib/paraglide/messages/general_collapsibletoolbardesc2.js
  web/src/lib/paraglide/messages/general_overviewbutton1.js
  web/src/lib/paraglide/messages/general_overviewbuttondesc2.js
  web/src/lib/paraglide/messages/general_overviewcustom1.js
  web/src/lib/paraglide/messages/general_overviewhidden1.js
  web/src/lib/paraglide/messages/general_overviewhouse1.js
  web/src/lib/paraglide/messages/general_overviewlogo1.js
Due: backend, frontend

i18n: fill 15 missing keys across all 35 non-English locales
  web/messages/ar.json
  web/messages/bg.json
  web/messages/bn.json
  web/messages/cs.json
  web/messages/da.json
  web/messages/de.json
  web/messages/el.json
  web/messages/es.json
  web/messages/et.json
  web/messages/fi.json
  web/messages/fr.json
  web/messages/hi.json
  web/messages/hr.json
  web/messages/hu.json
  web/messages/it.json
  web/messages/ja.json
  web/messages/lt.json
  web/messages/lv.json
  web/messages/mr.json
  web/messages/nb.json
  web/messages/nl.json
  web/messages/pl.json
  web/messages/pt.json
  web/messages/ro.json
  web/messages/ru.json
  web/messages/sk.json
  web/messages/sl.json
  web/messages/sr.json
  web/messages/sv.json
  web/messages/tr.json
  web/messages/uk.json
  web/messages/vi.json
  web/messages/wuu.json
  web/messages/yue.json
  web/messages/zh.json
Due: none

deps: bump svelte 5.55.5 -> 5.55.7 (closes GHSA-77vg-94rm-hx3p +63 +64)
  web/package-lock.json
  web/package.json
Due: none

Perf Tier 2: rewriter pooling, narrower icon filter, rolldown vendor split
  internal/handlers/reverse_proxy.go
  web/src/components/IconBrowser.svelte
  web/src/lib/websocketStore.ts
  web/vite.config.ts
Due: backend, frontend

3.1.0: dependabot bumps, docker-compose env coverage, mTLS roundtrip tests
  .github/workflows/codeql.yml
  docker-compose.yml
  docs/wiki/docker-discovery.md
  internal/discovery/client_test.go
  internal/handlers/api.go
  web/package-lock.json
  web/package.json
  web/src/components/settings/DiscoveryTab.test.ts
Due: backend, frontend

CHANGELOG: redraft the 3.1.0 entry as a 3.0.32 -> 3.1.0 diff, not a dev journal
  CHANGELOG.md
Due: none

Two UX fixes from the live verification pass
  web/src/components/settings/DiscoverModal.svelte
  web/src/components/settings/DiscoverModal.test.ts
  web/src/components/settings/GatewayTab.svelte
  web/src/components/settings/GatewayTab.test.ts
Due: frontend

Auto-migrate legacy server.gateway Caddyfile -> gateway_sites on boot
  cmd/muximux/migrate_gateway.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/migrate_gateway.go
  internal/config/migrate_gateway_test.go
  internal/config/migrate_runtime.go
  internal/config/migrate_runtime_test.go
Due: backend

Symmetric Docker auto-detach: file-edit consistent with API/UI edits
  internal/config/config.go
  internal/config/docker_autodetach_test.go
  internal/discovery/poller.go
  internal/handlers/api.go
  internal/handlers/api_test.go
  internal/handlers/discovery_import.go
  internal/handlers/discovery_lifecycle.go
Due: backend

Onboarding: Have Docker? configures discovery during the wizard
  web/messages/en.json
  web/src/App.svelte
  web/src/components/OnboardingWizard.svelte
  web/src/components/OnboardingWizard.test.ts
  web/src/lib/paraglide/README.md
  web/src/lib/paraglide/messages/_index.js
  web/src/lib/paraglide/runtime.js
Due: frontend

3.1.0 docs sweep: README, wiki, config example, compose, CHANGELOG
  CHANGELOG.md
  README.md
  config.example.yaml
  docker-compose.yml
  docs/wiki/README.md
  docs/wiki/configuration.md
  docs/wiki/docker-discovery.md
  docs/wiki/gateway-auth.md
  docs/wiki/gateway-examples.md
  docs/wiki/getting-started.md
  docs/wiki/reverse-proxy.md
  docs/wiki/tls-and-gateway.md
Due: none

Track paraglide message files for the onboarding Docker keys
  web/src/lib/paraglide/messages/onboarding_dockerendpoint1.js
  web/src/lib/paraglide/messages/onboarding_dockerendpointhint2.js
  web/src/lib/paraglide/messages/onboarding_dockerhint1.js
  web/src/lib/paraglide/messages/onboarding_dockerpostsetuphint3.js
  web/src/lib/paraglide/messages/onboarding_dockerstrategy1.js
  web/src/lib/paraglide/messages/onboarding_dockerstrategycontainerdnshint6.js
  web/src/lib/paraglide/messages/onboarding_dockerstrategycontaineriphint5.js
  web/src/lib/paraglide/messages/onboarding_dockerstrategyhostdockerinternalhint5.js
  web/src/lib/paraglide/messages/onboarding_dockerstrategyhostporthint4.js
  web/src/lib/paraglide/messages/onboarding_dockertitle1.js
  web/src/lib/paraglide/messages/toast_dockerdiscoverysetupfailed3.js
Due: frontend

CHANGELOG: absorb #340 (eslint + kysely) into the 3.1.0 dep-bump tally
  CHANGELOG.md
Due: none

Dockerfile: cross-compile instead of emulating arm64 under QEMU
  Dockerfile
Due: none

Path conditions:
  backend: any of: internal/, cmd/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
  frontend: any of: web/src/, but not: **/*_test.go, internal/server/dist/**, web/dist/**, web/node_modules/**
